.button {
  padding: var(--space-xs);
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;
  font-size: var(--typescale-6);
  color: var(--black);
  transition: all .15s ease-in-out;
}

.button--primary,
a.button--primary {
  text-transform: uppercase;
  font-weight: 700;

  --initialTextColor: var(--white);
  --slideTextColor: var(--black);

  --initialBgColor: var(--black);
  --slideBgColor: var(--white);

  display: inline-block;
  background-image: linear-gradient(90deg,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%);
    background-size: 200%;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
    color .0015s linear;
    transition-delay: 0.0s, 0.15s;
  border: 1px solid var(--initialBgColor);
  color: var(--initialTextColor);
  text-decoration: none;
}

.button--primary:hover {
  color: var(--slideTextColor);
  cursor: pointer;
  background-position: -100% 100%;
}

.button--secondary {
  text-transform: uppercase;
  font-weight: 700;
}

.button--secondary:hover {
  border-color: var(--black);
  background-color: var(--black);
  color: var(--white);
}

.button--custom:hover {
  border-color: var(--custom-colour);
  background-color: var(--custom-colour);
  color: var(--black);
}
