:root {
  --gutter: 6vw;
  --gutter-negative: -6vw;
  --primary-colour: pink;
  --primary-colour-rgb: 255, 192, 203;
  --secondary-colour: hotpink;
  --sal-duration: 400ms;
}

html {
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  :root {
    --gutter: 3vw;
    --gutter-negative: -3vw;
  }

  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --gutter: 1.5vw;
    --gutter-negative: -1.5vw;
  }

  html {
    font-size: 22px;
  }
}

.colour-block {
  background-color: var(--primary-colour);
}

.app-name {
  font-family: var(--serif-bold);
  letter-spacing: -.025em;

  background: linear-gradient(to right, var(--secondary-colour), var(--primary-colour));
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip:text;
  color: currentColor;
  transition: all .25s ease-in-out;
}

.app-name__oa {
  margin-right: .055em;
  letter-spacing: -.025em;
}

.app-name:hover {
  color: rgba(0, 0, 0, 0);
}

.cover {
  position: fixed;
  width: 100%;
}

.cover__background, .cover__tagline {
  min-height: 100vh;
}

.content {
  margin: 100vh var(--gutter-negative) 0 var(--gutter-negative);
  padding: var(--gutter);
  position: relative;
  overflow-x: hidden;
}

.illus svg {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
  border-radius: 5px;
  border: 1px solid;
}

#video {
  margin-left: var(--gutter-negative);
  position: fixed;
  transform: scaleX(-1);
}

@media only screen and (max-width: 1023px) {
  .cover h1 {
    z-index: 2;
    color: var(--black);
    text-align: center;
    font-size: calc(1.75 * var(--typescale-1));
  }

  .cover__tagline .label {
    display: none;
  }

  .cover__background {
    position: absolute;
    width: 100%;
  }

  .cover__tagline {
    z-index: 1;
    background-color: rgba(var(--primary-colour-rgb), 0.75);
  }

  .content {
    position: relative;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .col--1of2,
  .col--2of4,
  .col--3of6 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
