@font-face {
  font-family: 'Sen', sans-serif;
  font-weight: 800;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

:root {
  --gutter: 6vw;
  --gutter-negative: -6vw;
}

html {
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  :root {
    --gutter: 3vw;
    --gutter-negative: -3vw;
  }

  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --gutter: 1.5vw;
    --gutter-negative: -1.5vw;
  }

  html {
    font-size: 22px;
  }
}

.gradient {
  background-color: pink;
}

.border-bottom {
  border-bottom: 1px solid;
}

.app-name {
  z-index: 2;
  font-family: 'Sen', sans-serif;
  letter-spacing: -.025em;

  background: linear-gradient(to right, var(--violet),var(--azure),  var(--cyan));
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip:text;
  color: rgba(255, 255, 255, 1);
  transition: all .25s ease-in-out;
}

.app-name:hover {
  color: rgba(0, 0, 0, 0);
}

.cover {
  position: fixed;
  width: 100%;
}

.cover__background, .cover__tagline {
  min-height: 100vh;
}

.content {
  margin: 100vh var(--gutter-negative) 0 var(--gutter-negative);
  padding: var(--gutter);
  position: relative;
  overflow-x: hidden;
}

.illus svg {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
  border-radius: 5px;
  border: 3px solid;
}

#video {
  position: fixed;
  transform: scaleX(-1);
}

@media only screen and (max-width: 767px) {
  .cover__background {
    position: absolute;
    width: 100%;
  }

  .cover__tagline {
    z-index: 1;
  }

  .content {
    position: relative;
  }
}
