*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--black);
  color: var(--white);
}

main {
  display: flex;
  flex-direction: column;
}

article {
  display: block;
}

ul, ol {
  margin-bottom: var(--space-md);
}

figure {
  margin: 0;
}

figcaption {
  padding: var(--space-xs);
  margin-top: calc(var(--space-md) * -1.5);
}

iframe {
  width: 100%;
  border: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

em, i {
  font-style: italic;
  font-variation-settings: 'slnt' -1;
}

strong, b {
  font-weight: 600;
  font-variation-settings: 'wght' 600;
}

blockquote {
  margin: 0 0 var(--space-sm) 0;
}

cite {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  max-width:  100%;
  height: auto;
}

svg {
  display: block;
}

hr {
  border: 1px solid;
  width: 50vw;
}

dd {
  margin: 0 0 var(--space-md) 0;
}

summary {
  cursor: pointer;
}
