.section {
  margin-left: var(--gutter-negative);
  margin-right: var(--gutter-negative);
  padding: calc(2 * var(--gutter)) var(--gutter);
}

@media only screen and (min-width: 768px) {
  .section {
    padding: calc(3 * var(--gutter)) calc(4 * var(--gutter));
  }
}

.section__header {
  margin-bottom: var(--space-xl);
}

.section--horizontal {
  padding: 0;
}

@media only screen and (min-width: 768px) {

  .section--horizontal  {
    padding: 0 calc(var(--gutter));
  }
}
