{# Actions section: _wireframe-actions.njk #}

<section id="actions" class="section scroll-mt-16">
  <header class="border-b border-neutral-400 pb-4 mb-4">
    <h1 class="text-2xl font-semibold leading-6 text-neutral-900">Actions</h1>
    <p class="mt-2 max-w-4xl text-sm leading-6 text-neutral-600">Actions empower you to take control of your published output and ensure compliance with your Open Access policy.</p>
  </header>

  {# Tabs: Action types #}
  {# Pills and Full Rounded Borders #}
  <nav class="flex flex-wrap gap-2 mb-6 text-xs" aria-label="Tabs">
    <button class="flex items-center gap-2 px-4 py-2 bg-carnation-600 text-white font-semibold rounded-full shadow-md transition duration-300 ease-in-out selected" aria-pressed="true" aria-current="page">
      Deposit publisher PDFs <span class="py-0.5 px-2 bg-neutral-900 text-white rounded-full">2</span>
    </button>
    <button class="flex items-center gap-2 px-4 py-2 bg-neutral-100 text-neutral-700 font-semibold rounded-full hover:bg-neutral-200 shadow-sm transition duration-300 ease-in-out" aria-pressed="false">
      Deposit accepted manuscripts <span class="py-0.5 px-2 bg-neutral-300 text-neutral-800 rounded-full">52</span>
    </button>
    <button class="flex items-center gap-2 px-4 py-2 bg-neutral-100 text-neutral-700 font-semibold rounded-full hover:bg-neutral-200 shadow-sm transition duration-300 ease-in-out" aria-pressed="false">
      Correct publisher errors <span class="py-0.5 px-2 bg-neutral-300 text-neutral-800 rounded-full">5</span>
    </button>
    <button class="flex items-center gap-2 px-4 py-2 bg-neutral-100 text-neutral-700 font-semibold rounded-full hover:bg-neutral-200 shadow-sm transition duration-300 ease-in-out" aria-pressed="false">
      Escalate unanswered requests <span class="py-0.5 px-2 bg-neutral-300 text-neutral-800 rounded-full">12</span>
    </button>
  </nav>

  {# Tabs: Action types #}
  {# Background, Pills and Rounded Borders  #}
  <nav class="flex flex-wrap gap-2 bg-neutral-100 p-2 rounded-lg shadow-sm mb-6 text-xs" aria-label="Tabs">
    <button class="flex items-center gap-2 px-4 py-2 bg-white text-carnation-600 font-semibold rounded-lg shadow-sm transition duration-300 ease-in-out selected" aria-pressed="true" aria-current="page">
      Deposit publisher PDFs <span class="py-0.5 px-2 bg-carnation-600 text-carnation-100 rounded-full">2</span>
    </button>
    <button class="flex items-center gap-2 px-4 py-2 bg-neutral-100 text-neutral-700 rounded-lg hover:bg-white hover:shadow-sm transition duration-300 ease-in-out" aria-pressed="false">
      Deposit accepted manuscripts <span class="py-0.5 px-2 bg-neutral-200 text-neutral-800 rounded-full">52</span>
    </button>
    <button class="flex items-center gap-2 px-4 py-2 bg-neutral-100 text-neutral-700 rounded-lg hover:bg-white hover:shadow-sm transition duration-300 ease-in-out" aria-pressed="false">
      Correct publisher errors <span class="py-0.5 px-2 bg-neutral-200 text-neutral-800 rounded-full">5</span>
    </button>
    <button class="flex items-center gap-2 px-4 py-2 bg-neutral-100 text-neutral-700 rounded-lg hover:bg-white hover:shadow-sm transition duration-300 ease-in-out" aria-pressed="false">
      Escalate unanswered requests <span class="py-0.5 px-2 bg-neutral-200 text-neutral-800 rounded-full">12</span>
    </button>
  </nav>

  {# Tabs: Action types #}
  {# No Pills with Number Badges #}
  <nav class="flex flex-wrap space-x-4 mb-6 text-xs" aria-label="Tabs">
    <button class="rounded-md bg-carnation-100 px-3 py-2 text-sm font-semibold text-carnation-600" aria-pressed="true" aria-current="page">
      Deposit publisher PDFs
      <span class="ml-3 rounded-full bg-carnation-300 px-2.5 py-0.5 text-xs font-medium text-neutral-900">2</span>
    </button>
    <button class="rounded-md px-3 py-2 text-sm font-medium text-neutral-500 hover:text-neutral-700" aria-pressed="false">
      Deposit accepted manuscripts
      <span class="ml-3 rounded-full bg-neutral-200 px-2.5 py-0.5 text-xs font-medium text-neutral-800">52</span>
    </button>
    <button class="rounded-md px-3 py-2 text-sm font-medium text-neutral-500 hover:text-neutral-700" aria-pressed="false">
      Correct publisher errors
      <span class="ml-3 rounded-full bg-neutral-200 px-2.5 py-0.5 text-xs font-medium text-neutral-800">5</span>
    </button>
    <button class="rounded-md px-3 py-2 text-sm font-medium text-neutral-500 hover:text-neutral-700" aria-pressed="false">
      Escalate unanswered requests
      <span class="ml-3 rounded-full bg-neutral-200 px-2.5 py-0.5 text-xs font-medium text-neutral-800">12</span>
    </button>
  </nav>

  {# Tabs: Action types #}
  {# Underline and Number Badges #}
  <div class="border-b border-neutral-200 mb-6">
    <nav class="flex flex-wrap space-x-8 text-xs" aria-label="Tabs">
      <button class="border-b-2 border-carnation-500 px-1 py-3 text-sm font-medium text-carnation-600" aria-pressed="true" aria-current="page">
        Deposit publisher PDFs
        <span class="ml-3 rounded-full bg-carnation-700 px-2.5 py-0.5 text-xs font-medium text-neutral-100">2</span>
      </button>
      <button class="border-b-2 border-transparent px-1 py-3 text-sm font-medium text-neutral-500 hover:border-neutral-300 hover:text-neutral-700" aria-pressed="false">
        Deposit accepted manuscripts
        <span class="ml-3 rounded-full bg-neutral-100 px-2.5 py-0.5 text-xs font-medium text-neutral-800">52</span>
      </button>
      <button class="border-b-2 border-transparent px-1 py-3 text-sm font-medium text-neutral-500 hover:border-neutral-300 hover:text-neutral-700" aria-pressed="false">
        Correct publisher errors
        <span class="ml-3 rounded-full bg-neutral-100 px-2.5 py-0.5 text-xs font-medium text-neutral-800">5</span>
      </button>
      <button class="border-b-2 border-transparent px-1 py-3 text-sm font-medium text-neutral-500 hover:border-neutral-300 hover:text-neutral-700" aria-pressed="false">
        Escalate unanswered requests
        <span class="ml-3 rounded-full bg-neutral-100 px-2.5 py-0.5 text-xs font-medium text-neutral-800">12</span>
      </button>
    </nav>
  </div>

  {# Tab title: contextual description #}
  <header class="border-b border-neutral-200 pb-4 mb-4">
    <h3 class="text-base font-semibold leading-6 text-neutral-800 sr-only">Deposit publisher PDFs</h3>
    <p class="mt-2 max-w-4xl text-sm leading-6 text-neutral-600">
      Send emails to authors requesting they make their work open access by depositing publisher PDFs (Version of Record).
    </p>
  </header>

  {# Data table #}
  <div class="mb-8 flow-root">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full py-1 align-middle">
        <div class="overflow-hidden shadow sm:rounded-md" style="max-height: 500px; overflow-y: auto;">
          <table class="min-w-full divide-y divide-neutral-200">
            <thead class="bg-neutral-800 text-white text-xs">
              <tr>
                {% for column in ['Date', 'Publication', 'Journal', 'Author', 'Actions'] %}
                <th scope="col" class="sticky top-0 z-20 border-b border-neutral-200 p-3 text-left font-semibold backdrop-blur bg-neutral-800" role="columnheader">
                  <span>{{ column }}</span>
                </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="divide-y divide-neutral-100 bg-white text-xs">
              <tr class="even:bg-neutral-50 hover:bg-neutral-100 transition duration-200">
                <td class="whitespace-nowrap p-3 text-neutral-700" role="cell">15 Jul 2024</td>
                <td class="whitespace-nowrap p-3 text-neutral-900" role="cell">Dietary fiber monosaccharide content alters gut microbiome composition</td>
                <td class="whitespace-nowrap p-3 text-neutral-700" role="cell">Applied and Environmental Microbiology</td>
                <td class="whitespace-nowrap p-3 text-neutral-700" role="cell">Dr. Mills</td>
                <td class="whitespace-nowrap p-3 text-neutral-700" role="cell">
                  <button class="inline-flex items-center p-1 border border-transparent bg-carnation-500 text-white hover:bg-white hover:text-carnation-500 hover:border-carnation-500 transition duration-200">
                    <span class="sr-only">Send email</span>
                    {% icon_small "mail" %}
                  </button>
                </td>
              </tr>
              <tr class="even:bg-neutral-50 hover:bg-neutral-100 transition duration-200">
                <td class="whitespace-nowrap p-3 text-neutral-700" role="cell">22 Aug 2024</td>
                <td class="whitespace-nowrap p-3 text-neutral-900" role="cell">Azithromycin to Reduce Mortality — An Adaptive Cluster-Randomized Trial</td>
                <td class="whitespace-nowrap p-3 text-neutral-700" role="cell">New England Journal of Medicine</td>
                <td class="whitespace-nowrap p-3 text-neutral-700" role="cell">Dr. Lietman</td>
                <td class="whitespace-nowrap p-3 text-neutral-700" role="cell">
                  <button class="inline-flex items-center p-1 border border-transparent bg-carnation-500 text-white hover:bg-white hover:text-carnation-500 hover:border-carnation-500 transition duration-200">
                    <span class="sr-only">Send email</span>
                    {% icon_small "mail" %}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  {# CSV download form #} 
  <div class="flex flex-col items-start">
    <h2 class="mb-2 text-sm font-semibold uppercase">Get this dataset in CSV</h2>
    <p class="text-sm text-neutral-600 mb-4">
      Download the list of 
      <span class="font-medium lowercase strategy_type">actions</span> for
      <span class="font-medium">
        <span class="report_readable_start_date">1 Jan 2024</span> — 
        <span class="report_readable_end_date">5 Oct 2024</span>
      </span>
    </p>

    <div class="flex items-center">
      <form id="form_email_author_vor" onsubmit="return window.callGetStrategyExportLink('email_author_vor')" class="flex">
        <label for="email" class="sr-only">Email address</label>
        <div class="relative flex items-center">
          <div class="absolute left-2">
            {% icon_small "mail" %}
          </div>
          <input type="email" id="email-email_author_vor" class="w-full pl-10 py-2 text-sm border border-neutral-300 focus:ring-carnation-300 focus:border-carnation-500" placeholder="you@example.com" required style="border-radius: 0;">
        </div>
        <button type="submit" class="px-4 py-2 text-sm font-medium bg-neutral-800 text-white hover:bg-neutral-600" style="border-radius: 0;">Get CSV</button>
      </form>
    </div>
  </div>
</section>
