{# Card component (to be used for a single piece of data)
{{ component("card", {
  id: "",
  title: "",
  icon: "",
  raw_number: false
}) }}
#}


<article class="flex flex-col h-full bg-white hover:outline hover:outline-offset-2 hover:outline-2 hover:outline-carnation-300" id="{{ params.id }}">
  {# Header #}
  {# TODO: uncomment when vis bar is enabled
  <header class="p-3 md:h-32 overflow-hidden bg-carnation-100 text-neutral-900 flex flex-col justify-between hover:cursor-pointer"> #}
  <header class="p-1.5 md:p-2 lg:p-3 md:h-32 overflow-hidden bg-carnation-100 text-neutral-900 flex flex-col justify-between">
    <div class="mb-3 -ml-1">
      {% icon_small params.icon %}
    </div>
    <h3 class="text-xs md:text-sm">
      <span class="font-medium">{{ params.title }}</span>
      {% if params.subtitle %}<br><span class="text-neutral-600">{{ params.subtitle }}</span>{% endif %}
    </h3>
  </header>
  {# Body #}
  <div class="pt-4 px-1.5 pb-1.5 md:pt-6 md:px-2 md:pb-2 lg:pt-8 lg:px-3 lg:pb-3 flex flex-col justify-center flex-grow text-neutral-900">
    <p class="text-lg sm:text-3xl lg:text-4xl font-black">
      <span id="percent_{{ params.id }}" tabindex="0" role="tooltip">00%</span>
    </p>
  </div>
  {# Footer #}
  <footer class="p-1.5 md:p-2 lg:p-3 md:h-16 flex flex-col justify-end">
    <p class="text-xs font-medium text-neutral-600">
      <span id="articles_{{ params.id }}">articles</span>
    </p>
  </footer>
</article>