{# Card component (to be used for a single piece of data)
{{ component("card", {
  id: "",
  title: "",
  icon: ""
}) }}
#}

<article 
  id="{{ params.id }}"
  class="
    p-4 rounded-md bg-white border border-neutral-200 shadow-sm
    proportional-card flex flex-col
  "
  aria-expanded="false"
  aria-labelledby="{{ params.id }}"
  title="More information on this metric">
  <div class="flex items-stretch h-full gap-4">
    {# Vertical bar chart on the left #}
    <footer
      class="
        js_bar_chart
        flex flex-col justify-end
        h-auto w-2
        bg-carnation-800
        rounded-full
        overflow-hidden
      "
      aria-hidden="true"
    ></footer>

    <div class="flex-1 min-w-0 flex flex-col">
      <div class="flex flex-col justify-between flex-1">
        {# Header: name of Insight and icon #}
        <header class="flex items-end justify-between text-neutral-700">
          <h3 class="text-sm font-medium cursor-pointer inline-flex items-baseline">
            <span class="inline-flex items-center">{{ params.title }}<sup class="text-neutral-600 leading-none -ml-0.25">{% icon_small "info" %}</sup></span>
          </h3>
        </header>

        {# Body and icon aligned to bottom #}
        <div class="mt-4 flex items-end justify-between gap-3">
          <div class="text-neutral-900">
            <p class="text-2xl font-bold leading-tight">
              <span id="percent_{{ params.id }}">
                00%
              </span>
            </p>
            <p class="mt-1 text-xs font-semibold text-neutral-600 sr-only">
              <span id="articles_{{ params.id }}">
                articles
              </span>
            </p>
          </div>
          <div class="text-neutral-800">
            {% icon_small params.icon %}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
