{# Shared trigger-icon classes (tooltip.njk, card.njk, insights.njk),
   sourced from INFO_TRIGGER_ICON_CLASSES in constants/ui.js. #}
{% macro triggerIconClasses() -%}
{{ uiClasses.INFO_TRIGGER_ICON_CLASSES }}
{%- endmacro %}
