{# Pill-style button component
{{ component("pill", {
  id: "",
  txt: "",
  class: ""
}) }}
#}

<button class="inline-flex items-center px-4 py-2 md:px-6 md:py-4 text-base md:text-lg transition duration-300 ease-in-out hover:bg-neutral-800 hover:text-white hover:border-neutral-800 js-pill {{ params.class }}" id="{{ params.id }}">{{ params.txt }}</button>
