{# Pill-style button component
{{ component("section-select", {
  id: "",
  txt: "",
  class: ""
}) }}
#}

 <a 
  class="inline-flex items-center border-r border-neutral-200 px-4 py-2 text-base text-neutral-700 transition duration-300 ease-in-out hover:bg-neutral-100 hover:text-neutral-900 md:px-6 md:py-4 md:text-lg{% if params.selected %} bg-white text-neutral-900 font-semibold{% endif %} js_section_tab"
  href="#{{ params.id }}"
>
  {{ params.txt }}
</a> 
