{# Pill-style button component
{{ component("section-select", {
  id: "",
  txt: "",
  class: ""
}) }}
#}

 <a 
  class="border-r border-neutral-700 inline-flex items-center px-4 py-2 md:px-6 md:py-4 text-base md:text-lg transition duration-300 ease-in-out hover:bg-neutral-800 hover:text-white{% if params.selected %} bg-neutral-900 text-white font-semibold{% endif %} js_section_tab" 
  href="#{{ params.id }}"
>
  {{ params.txt }}
</a> 
