{# Tab item component: use with strategy-contents
{{ component("strategy-pill", {
  id: "",
  txt: "",
  class: "",
  first: false
}) }}
#}

<li role="tab" aria-selected="{% if params.first %}true{% else %}false{% endif %}" aria-controls="{{ params.id }}" class="inline-flex p-2 pl-4 mr-2 rounded-full bg-white text-xs md:text-sm text-neutral-900 transition duration-300 ease-in-out hover:cursor-pointer js_strategy_btn {{ params.class }}" id="strategy_{{ params.id }}" tabindex="{% if params.first %}0{% else %}-1{% endif %}">
  {{ params.txt }}
  <span id="count_{{ params.id }}" class="bg-neutral-800 text-white ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block">0</span>
</li>
