{# Tab contents component: use with strategy-pill
{{ component("strategy-contents", {
  id: "",
  heading: "",
  desc: "",
  table_headings: "",
  draft_btn: false,
  hidden: true
}) }}
#}

<section class="grid grid-cols-12 gap-3 lg:gap-6 md:gap-12 js_strategy {% if params.hidden %} hidden{% else %}{% endif %}" role="tabpanel" tabindex="0" aria-labelledby="strategy_{{ params.id }}" id="{{ params.id }}"{% if params.hidden %} hidden{% else %}{% endif %}>
  <header class="md:mb-12 col-span-12 lg:col-span-4">
    <div class=" lg:sticky lg:top-3">
      <h3 class="font-semibold text-xl md:text-3xl mb-3 md:mb-6">{{ params.heading }}</h3>
      <p class="text-xs md:text-base mb-3 md:mb-6">{{ params.desc|safe }}</p>
      <form id="form_{{ params.id }}" onsubmit="return window.callGetStrategyExportLink('{{ params.id }}')">
        <h2 class="mb-4">
          <div class="mb-2 text-sm font-semibold uppercase">
            Get this dataset in CSV
            {{ component("tooltip", {
              sup: true,
              msg: "Enter your email address to receive a link to a CSV for download. We do not use email addresses for any purpose other than sending you the CSV file containing OA.Report data when you request it."
          }) }}
          </div> 
          <div class="text-sm">Download the list of <span class="py-1 px-2 my-1 bg-opacity-10 bg-carnation-200 text-neutral-100 rounded-full lowercase strategy_type">actions</span> for <span class="py-1 px-2 my-1 bg-opacity-10 bg-carnation-200 text-neutral-100 rounded-full"><span class="report_readable_start_date"></span> — <span class="report_readable_end_date"></span></span> 
        </h2>
        <label for="email" class="sr-only">Email address</label>
        <div class="mt-1 mb-3 flex shadow-sm">
          <div class="relative flex items-stretch flex-grow focus-within:z-10 text-neutral-900">
            <div class="absolute inset-y-0 left-0 pl-2 flex items-center pointer-events-none text-white">
              {% icon_small "mail" %}
            </div>
            <input type="email" name="email" id="email-{{ params.id }}" class="focus:ring-carnation-300 focus:border-carnation-500 block w-full pl-10 py-2 sm:text-sm border border-neutral-100 bg-transparent text-white" placeholder="you@example.com" required>
          </div>
          <button type="submit" class="--ml-px relative inline-flex items-center space-x-2 px-2 py-2 text-sm font-medium border border-neutral-100 text-white hover:bg-carnation-500 hover:text-neutral-900 hover:border-carnation-500 focus:outline-none focus:ring-1 focus:ring-carnation-300 focus:border-carnation-500 duration-500 border-l-0 whitespace-nowrap">
            <span>Get list of <span class="strategy_type">actions</span></span>
          </button>
        </div>
        <p class="leading-5 text-xs text-white" id="msg-{{ params.id }}"></p>
      </form>
    </div>
  </header>
  <div class="col-span-12 lg:col-span-8 border-t pt-3 sm:pt-0 sm:border-0">
    <div class="grid grid-cols-12 gap-3 lg:gap-6 justify-between">
      <div class="mb-3 col-span-12 md:col-span-6">
        <p class="mb-1 text-xs md:text-base lg:text-lg font-semibold leading-6">
          <span id="total_{{ params.id }}">00</span> actions available</span></span>
          {% if params.action_help_txt %}
          {{ component("tooltip", {
            sup: true,
            msg: "<p class='mb-2'>We tried to remove common errors and articles that are already in a repository (either embargoed or available). This list was produced using Unpaywall, Crossref, and ShareYourPaper Permissions data.</p>"
          }) }}
          {% endif %}
        </p>
      </div>
    </div>
    <div class="mb-8 overflow-hidden sm:-mx-6 md:mx-0 drop-shadow-lg">
      <table class="divide-y divide-neutral-300 table-fixed w-full" id="table_{{ params.id }}">
        <thead class="bg-neutral-800 text-white">
          <tr>
            {{ params.table_headings|safe }}
            {% if params.draft_btn %}<th scope='col' class='text-xs font-semibold py-3.5 pl-3 pr-4 w-2/12'>Open draft {{ component('tooltip', {    msg: 'This will open a preset message in your email client. If you make any changes to the email, it will not be saved here.'  }) }}</th>{% endif %}
          </tr>
        </thead>
        <tbody class="divide-y divide-neutral-200 bg-white text-neutral-900"></tbody>
      </table>
    </div>
  </div>
</section>
