{# Tooltip component
{{ component("tooltip", {
  msg: "",
  id: ""
}) }}
#}

<sup 
  class="tooltip" 
  tabindex="0" 
  data-tippy-content="{{ params.msg }}"
  {% if params.id %} id="{{ params.id }}"{% endif %} 
  aria-label="
    {% if params.label %}
      {{ params.label }}
    {% else %}
      More information
    {% endif %}
  "
>
  {% if params.text %}
    <span class="py-0.5 px-1 font-semibold uppercase text-xs border hover:bg-white hover:text-neutral-900 transition duration-300 ease-in-out">{{ params.text }}</span>
  {% else %}
    <span class="py-0.5 px-1 border rounded-full font-semibold uppercase text-xs hover:bg-white hover:text-neutral-900 transition duration-300 ease-in-out">?</span>
  {% endif %}
</sup>
