{# Tooltip component
{{ component("tooltip", {
  msg: "",
  id: ""
}) }}
#}

<sup class="tooltip" tabindex="0" data-tippy-content="{{ params.msg }}"{% if params.id %} id="{{ params.id }}"{% endif %}>{% icon_small "help-circle" %}</sup>
