{# Pill-style button component
{{ component("year-select", {
  id: "",
  txt: "",
  class: ""
}) }}
#}

<button class="border inline-flex items-center px-4 py-2 md:px-6 md:py-4 text-base md:text-lg transition duration-300 ease-in-out hover:border-neutral-800 hover:bg-neutral-800 hover:text-white {% if params.selected %} border-neutral-900 bg-neutral-900 text-white font-semibold{% else %}border-neutral-900 bg-white text-neutral-900{% endif %} js_year_select" id="{{ params.id }}">{{ params.txt }}</button>
