{# Pill-style button component
{{ component("year-select", {
  id: "",
  txt: "",
  class: ""
}) }}
#}

<button class="inline-flex items-center px-4 py-2 md:px-6 md:py-4 border-t-4 text-base md:text-lg transition duration-300 ease-in-out hover:bg-neutral-800 hover:text-white hover:border-neutral-800 js_year_select {% if params.selected %}border-carnation-500 bg-neutral-900 text-white font-semibold{% else %}bg-white text-neutral-900{% endif %}" id="{{ params.id }}">{{ params.txt }}</button>
