---
layout: layouts/base.njk
templateEngineOverride: md, njk
---

<header class="col-span-12 mt-6 xl:mt-12">
  <div class="flex justify-between">
    <h1 class="mb-6 text-3xl md:text-6xl font-serif">Put OA policy into practice at<br/> <strong class="font-bold">Bill & Melinda Gates Foundation</strong></h1>
    <figure class="bg-azure-500 h-36 w-96 p-6 flex"><p class="self-center m-auto font-bold">LOGO</p></figure>
  </div>
  <div class="flex">
    <p>We’ve tracked down recent papers where articles can be self-archived and crafted a friendly, useful email for you to send to the corresponding author.</p>
  </div>
</header>

<section class="col-span-12 grid grid-cols-12 gap-6 md:gap-12">
  <table>
    <thead>
      <tr>
        <th>Article</th>
        <th>Corresponding author</th>
        <th>Publication date</th>
        <th>Open draft</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Article title in journal name</td>
        <td>Joe Joe Guy</td>
        <td>2022-01-01</td>
        <td><a href="mailto:">Email link</a></td>
      </tr>
    </tbody>
  </table>
</section>
