<!doctype html>
<html class="no-js" lang="en">
  {% include 'partials/head.njk' %}
  <body class="text-neutral-900">
    {% include 'partials/header.njk' %}
    <main>
      {{ content | safe }}
      {% block content %}{% endblock %}
    </main>
    {% include 'partials/footer.njk' %}
  </body>
</html>
