<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include 'partials/head.liquid' %}
  </head>

  <body{% if body_class %} class="{{ body_class }}"{% endif %}>
    <!--[if IE]>
    <p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <main>
      {{ content }}
    </main>

    <script src="{{ site.base_url }}/js/sal.js"></script>

    <noscript><img src="https://sa.oa.works/noscript.gif" alt=""/></noscript>
    <script async defer src="https://sa.oa.works/latest.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/newsletter.js"></script>

    <script>
      // Initalise animation on scroll
      sal({
        threshold: .25,
      });
    </script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
