<!doctype html>
<html class="no-js" lang="en">
  {% include 'partials/head.njk' %}
  <body>
    {% include 'partials/header.njk' %}
    {% block content %}{% endblock %}
    {{ content | safe }}
    {% include 'partials/footer.njk' %}
  </body>
</html>
