{# Actions section #}
{% from "partials/report/section-wrapper.njk" import sectionWrapper %}

{% call sectionWrapper("strategies", "Actions") %}

  {# Actions tabs / pills #}
  <nav class="hidden sm:block mt-2 flex flex-wrap items-center gap-2" aria-label="Actions Tabs">
    <ul class="flex flex-wrap items-center gap-2 m-0 p-0 list-none" role="tablist" id="actions_buttons">
      {{ component("strategy-pill", {
        id: "email_author_deposit",
        txt: "Self-archive articles",
        class: "font-semibold bg-carnation-300",
        first: true
      }) }}

    {# HIDE TEMPORARILY 
      See https://github.com/oaworks/discussion/issues/3619#issuecomment-3587683138 
      {{ component("strategy-pill", {
        id: "email_author_vor",
        txt: "Deposit publisher PDFs",
        class: "font-semibold bg-carnation-300",
        first: true
      }) }}

      {{ component("strategy-pill", {
        id: "email_author_aam",
        txt: "Deposit accepted manuscripts"
      }) }}
    #}
      {{ component("strategy-pill", {
        id: "apc_followup",
        txt: "Correct publisher errors"
      }) }}

      {{ component("strategy-pill", {
        id: "unanswered_requests",
        txt: "Escalate unanswered requests"
      }) }}

    </ul>
  </nav>

  <div class="mt-2 bg-neutral-800 border border-neutral-700 rounded-lg p-4 md:p-6">
    <div class="grid grid-cols-2 gap-3 sm:gap-6 md:gap-12">
      <div class="col-span-2">

        <div class="hidden sm:block js_strategies">
          {# Hide temporarily
            See https://github.com/oaworks/discussion/issues/3619#issuecomment-3587683138 #}
          {# {{ component("strategy-contents", {
            id: "email_author_vor",
            heading: "Deposit publisher PDFs",
            desc: "Send emails to authors to request they make their work free to read. In these cases, they can do that by making a <strong>publisher PDF (version of record, VOR)</strong> available in a repository.",
            table_headings: "<th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-10/12 sm:w-6/12'>Article</th>\
                            <th scope='col' class='hidden px-3 py-3.5 text-left text-sm font-semibold w-4/12 sm:table-cell'>Corresponding author</th>",
            draft_btn: true,
            action_help_txt: true,
            hidden: false
          }) }}

          {{ component("strategy-contents", {
            id: "email_author_aam",
            heading: "Deposit accepted manuscripts",
            desc: "Send emails to authors to request they make their work free to read. In these cases, they can do that by making an <strong>author accepted manuscript (AAM)</strong> available in a repository.",
            table_headings: "<th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-10/12 sm:w-6/12'>Article</th>\
                            <th scope='col' class='hidden px-3 py-3.5 text-left text-sm font-semibold w-4/12 sm:table-cell'>Corresponding author</th>",
            draft_btn: true,
            action_help_txt: true,
            hidden: true
          }) }} #}

          {{ component("strategy-contents", {
            id: "email_author_deposit",
            heading: "Self-archive articles",
            desc: "Send emails to authors requesting that they make their work freely available in a repository.",
            table_headings: "<th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-10/12 sm:w-6/12'>Article</th>\
                            <th scope='col' class='hidden px-3 py-3.5 text-left text-sm font-semibold w-4/12 sm:table-cell'>Corresponding author</th>",
            draft_btn: true,
            action_help_txt: false,
            hidden: false
          }) }}

          {{ component("strategy-contents", {
            id: "apc_followup",
            heading: "Correct publisher errors",
            desc: "These are articles where an APC has been paid, but they still aren’t compliant with the policy. Use this list to follow up with publishers. If it is made compliant, and the metadata is updated, it will be removed.",
            table_headings: "<th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-4/12 sm:w-4/12'>Publisher & journal</th>\
                            <th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-3/12 sm:w-4/12'>Article</th>\
                            <th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-5/12 sm:w-4/12'>Invoice</th>",
            draft_btn: false,
            action_help_txt: false,
            hidden: true
          }) }}

          {{ component("strategy-contents", {
            id: "unanswered_requests",
            heading: "Escalate unanswered requests",
            desc: "These articles are not compliant with policy, and their authors haven’t answered multiple requests to comply. Use this list to escalate requests to authors and request they make their work freely available.",
            table_headings: "<th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-3/12'>Grant</th>\
                            <th scope='col' class='px-3 py-3.5 text-left text-sm font-semibold w-7/12'>Author & article</th>",
            draft_btn: true,
            action_help_txt: false,
            hidden: true
          }) }}

        </div>

        {# Mobile placeholder #}
        <div class="sm:hidden text-sm md:text-base mt-6">
          <p>Actions aren’t available on mobile yet. Please head to a desktop computer to take action!</p>
        </div>

        {# Desktop tables injected by JS #}
        <div class="hidden sm:block js_actions_tables col-span-2"></div>
      </div>
    </div>
  </div>
{% endcall %}
