:root {
    --typescale-1:     2.488em;
    --typescale-2:     2.074em;
    --typescale-3:     1.728em;
    --typescale-4:     1.44em;
    --typescale-5:     1.2em;
    --typescale-6:     .833em;
  
    --sans-serif:      'Inter', sans-serif;
    --serif:           serif;
  
    --gutter:           1.5vw;
    --gutter-negative:  -1.5vw;
  
    --space-unit:       1.5rem;
    --space-xxs:        calc(.25 * var(--space-unit));
    --space-xs:         calc(.5 * var(--space-unit));
    --space-sm:         calc(.75 * var(--space-unit));
    --space-md:         calc(1.5 * var(--space-unit));
    --space-lg:         calc(2 * var(--space-unit));
    --space-xl:         calc(2.5 * var(--space-unit));
    --space-xxl:        calc(3 * var(--space-unit));
  
    --black:            hsl(17, 10%, 13%);
    --dark-grey:        hsl(12, 3.07%, 31.96%);
    --mid-grey:         hsl(30, 1.67%, 52.94%);
    --light-grey:       hsl(30, 1.61%, 75.69%);
    --white:            hsl(0, 0%, 100%);
  
    --black-85:         hsla(17, 10%, 13%, .85);
    --black-75:         hsla(17, 10%, 13%, .75);
    --black-50:         hsla(17, 10%, 13%, .5);
    --black-25:         hsla(17, 10%, 13%, .25);
    --black-15:         hsla(17, 10%, 13%, .15);
  
    --white-85:         hsla(0, 0%, 100%, .85);
    --white-75:         hsla(0, 0%, 100%, .75);
    --white-50:         hsla(0, 0%, 100%, .5);
    --white-25:         hsla(0, 0%, 100%, .25);
    --white-15:         hsla(0, 0%, 100%, .15);
  
    --azure-shade:      hsl(212, 100%, 20%);
    --azure:            hsl(212, 100%, 50%);
    --azure-tint:       hsl(212, 100%, 88%);
  
    --cyan-shade:       hsl(169, 100%, 30%);
    --cyan:             hsl(169, 100%, 50%);
    --cyan-tint:        hsl(169, 100%, 88%);
  
    --carnation-shade:  hsl(000, 100%, 40%);
    --carnation:        hsl(000, 100%, 70%);
    --carnation-tint:   hsl(000, 100%, 98%);
  
    --violet-shade:     hsl(284, 100%, 40%);
    --violet:           hsl(284, 100%, 70%);
    --violet-tint:      hsl(284, 100%, 98%);
  
    --chartreuse-shade: hsl(075, 100%, 30%);
    --chartreuse:       hsl(075, 100%, 50%);
    --chartreuse-tint:  hsl(075, 100%, 78%);
  
    --mango-shade:      hsl(035, 100%, 30%);
    --mango:            hsl(035, 100%, 50%);
    --mango-tint:       hsl(035, 100%, 78%);
  }
  
    .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
  
  .font-serif {
    font-family: var(--serif);
  }
  
  .font-sans {
    font-family: var(--sans-serif);
  }
  
  .fw-200 {
    font-weight: 200;
    letter-spacing: -.025em;
  }
  
  .fw-300 {
    font-weight: 300;
  }
  
  .fw-700 {
    font-weight: 700;
  }
  
  .fw-900 {
    font-weight: 900;
  }
  
  .block-link {
    display: block;
  }
  
  .type-1 {
    font-size: var(--typescale-1);
    line-height: 1.3;
  }
  
  .type-2 {
    font-size: var(--typescale-2);
    line-height: 1.25;
  }
  
  .type-3 {
    font-size: var(--typescale-3);
    line-height: 1.2;
  }
  
  .type-4 {
    font-size: var(--typescale-4);
  }
  
  .type-5 {
    font-size: var(--typescale-5);
  }
  
  .type-6 {
    font-size: var(--typescale-6);
  }
  
  .type-unit {
    font-size: 1rem;
  }
  
  .align-center {
    text-align: center;
  }
  
  .align-right {
    text-align: right;
  }
  
  @media only screen and (min-width: 768px) {
    .border-left {
      border-left: 1px solid;
    }
  
    .border-right {
      border-right: 1px solid;
    }
  }
  
  .border-bottom {
    border-bottom: 1px solid;
  }
  
  .border-top {
    border-top: 1px solid;
  }
  
  .border-top-thick {
    border-top: 3px solid;
  }
  
  .bg-white {
    background-color: var(--white);
    color: var(--black);
  }
  
  .bg-white a {
    color: var(--black);
  }
  
  .bg-white-15 {
    background-color: var(--white-15);
  }
  
  .bg-white-75 {
    background-color: var(--white-75);
  }
  
  .bg-black-85 {
    display: inline-block;
    background-color: var(--black-85);
  }
  
  .bg-black {
    background-color: var(--black);
    color: var(--white);
  }
  
  .bg-black a {
    color: var(--white);
  }
  
  .padding-top {
    padding-top: 1em;
  }
  
  .padding-top-xl {
    padding-top: var(--space-xl);
  }
  
  .no-margin {
    margin: 0;
  }
  
  .margin-right {
    margin-right: 1em;
  }
  
  .margin-bottom {
    margin-bottom: 1em;
  }
  
  .margin-bottom-sm {
    margin-bottom: var(--space-sm);
  }
  
  .margin-bottom-md {
    margin-bottom: var(--space-md);
  }
  
  .margin-bottom-xl {
    margin-bottom: var(--space-xl);
  }
  
  .blend-difference {
    mix-blend-mode: difference;
  }
  
  .blend-screen {
    mix-blend-mode: screen;
  }
  
  .bw {
    display: block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .75;
    transition: all .15s ease-in-out;
  }
  
  .bw:hover, .bw:focus {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-end {
    display: flex;
    justify-content: flex-end;
  }
  
  .flex-space-between {
    display: flex;
    justify-content: space-between;
  }
  
  .unstyled-list {
    margin-top: 0;
    margin-bottom: var(--space-md);
    padding-left: 0;
    list-style: none;
  }
  
  .unstyled-list li:before {
    display: none;
  }
  
  @media only screen and (max-width: 1023px) {
    .unstyled-list li:not(:last-child) svg {
      margin-bottom: var(--space-md);
    }
  }
  
  .inlined-list {
    padding: 0;
    list-style: none;
  }
  
  .inlined-list li {
    display: inline;
  }
  
  .inlined-list li:after {
    content: ' • '
  }
  
  .inlined-list li:last-child:after {
    content: '';
  }
  
  .flash-colours:hover {
    animation: flash 4s ease-in-out infinite;
  }
  
  .bg-pattern:nth-of-type(6n+1) .bg-pattern__child {
    background-color: var(--azure);
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23004799' fill-opacity='1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  
  .bg-pattern:nth-of-type(6n+2) .bg-pattern__child {
    background-color: var(--carnation);
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23cc0000' fill-opacity='1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  
  .bg-pattern:nth-of-type(6n+3) .bg-pattern__child {
    background-color: var(--mango);
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23995900' fill-opacity='1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  
  .bg-pattern:nth-of-type(6n+4) .bg-pattern__child {
    background-color: var(--cyan);
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2300997d' fill-opacity='1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  
  .bg-pattern:nth-of-type(6n+5) .bg-pattern__child {
    background-color: var(--violet);
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239600cc' fill-opacity='1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  
  .bg-pattern:nth-of-type(6n+6) .bg-pattern__child {
    background-color: var(--chartreuse);
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23739900' fill-opacity='1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  
  @media only screen and (min-width: 1024px) {
    .sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }
  
    /* Grid: to be used for general layout only */
  
  body {
    padding: 0 var(--gutter);
    margin: 0 auto;
    max-width: 100%;
  }
  
  @media only screen and (min-width: 2560px) {
    body {
      padding: 0 calc(var(--gutter) * 3);
    }
  }
  
  .row {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    margin-left: var(--gutter-negative);
    margin-right: var(--gutter-negative);
  }
  
  .row--centered {
    justify-content: center;
  }
  
  @media only screen and (min-width: 768px) {
    .row {
      flex-direction: row;
    }
  }
  
  .col {
    flex: 0 0 auto;
    padding: 0 var(--gutter);
    flex-basis: 100%;
    max-width: 100%;
  }
  
  .col--group {
    padding: 0;
  }
  
  .col--1of1,
  .col--2of2,
  .col--3of3,
  .col--4of4,
  .col--5of5,
  .col--6of6 {
    flex-basis: 100%;
    max-width: 100%;
  }
  
  .col--1of4,
  .col--1of6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .col--1of4 {
      flex-basis: 50%;
      max-width: 50%;
    }
  
    .col--3of4 {
      flex-basis: 100%;
      max-width: 100%;
    }
  
    .col--1of2,
    .col--2of4,
    .col--3of6 {
      flex-basis: 75%;
      max-width: 75%;
    }
  
    .col--1of3,
    .col--2of6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  
    .col--1of6 {
      flex-basis: 33.3333333%;
      max-width: 33.3333333%;
    }
  
    .col--2of3,
    .col--4of6 {
      flex-basis: 100%;
      max-width: 100%;
    }
  
    .col--5of6 {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .col--1of5 {
      flex-basis: 20%;
      max-width: 20%;
    }
  
    .col--1of4 {
      flex-basis: 25%;
      max-width: 25%;
    }
  
    .col--2of5 {
      flex-basis: 40%;
      max-width: 40%;
    }
  
    .col--3of5 {
      flex-basis: 60%;
      max-width: 60%;
    }
  
    .col--3of4 {
      flex-basis: 75%;
      max-width: 75%;
    }
  
    .col--4of5 {
      flex-basis: 80%;
      max-width: 80%;
    }
  
    .col--1of2,
    .col--2of4,
    .col--3of6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  
    .col--1of3,
    .col--2of6 {
      flex-basis: 33.3333333%;
      max-width: 33.3333333%;
    }
  
    .col--1of6 {
      flex-basis: 16.6666667%;
      max-width: 16.6666667%;
    }
  
    .col--2of3,
    .col--4of6 {
      flex-basis: 66.6666667%;
      max-width: 66.6666667%;
    }
  
    .col--5of6 {
      flex-basis: 83.3333333%;
      max-width: 83.3333333%;
    }
  }
  
    html {
      font-size: 14px;
    font-family: var(--sans-serif);
    font-weight: 400;
    letter-spacing: 0.015em;
  }
  
  @media only screen and (min-width: 768px) {
    html {
      font-size: 18px;
    }
  }
  
  @media only screen and (min-width: 2560px) {
    html {
      font-size: 20px;
    }
  }
  
  body {
      line-height: 1.45;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, h4, h5, h6 {
      margin: 0 0 var(--space-md) 0;
      font-family: var(--serif);
      font-weight: 400;
      line-height: 1.15;
    letter-spacing: -0.015em;
  }
  
  /* Typescale in minor third */
  
  h1 {
    margin-top: 0;
      font-size: var(--typescale-1);
  }
  
  h2 {
      font-size: var(--typescale-2);
  }
  
  h3 {
      font-size: var(--typescale-3);
  }
  
  h4 {
      font-size: var(--typescale-4);
  }
  
  h5 {
      font-size: var(--typescale-5);
  }
  
  h6, small {
      font-size: var(--typescale-6);
  }
  
  p {
    margin: 0 0 var(--space-md) 0;
  }
  
    *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    background: var(--black);
    color: var(--white);
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  article {
    display: block;
  }
  
  ul, ol {
    margin-bottom: var(--space-md);
  }
  
  figure {
    margin: 0;
  }
  
  figcaption {
    padding: var(--space-xs);
    margin-top: calc(var(--space-md) * -1.5);
  }
  
  iframe {
    width: 100%;
    border: 0;
  }
  
  a {
    text-decoration: none;
    color: var(--white);
  }
  
  em, i {
    font-style: italic;
    font-variation-settings: 'slnt' -1;
  }
  
  strong, b {
    font-weight: 600;
    font-variation-settings: 'wght' 600;
  }
  
  blockquote {
    margin: 0 0 var(--space-sm) 0;
  }
  
  cite {
    font-style: normal;
  }
  
  img {
    display: block;
    width: 100%;
    max-width:  100%;
    height: auto;
  }
  
  svg {
    display: block;
  }
  
  hr {
    border: 1px solid;
    width: 50vw;
  }
  
  dd {
    margin: 0 0 var(--space-md) 0;
  }
  
  summary {
    cursor: pointer;
  }
  
    /* Page and header are on a black bg */
  
  .inverted {
    background-color: var(--black);
    color: var(--white);
  }
  
  .inverted a {
    color: var(--white);
  }
  
  .inverted .logotype path {
    fill: var(--white);
  }
  
  
    .section {
    margin-left: var(--gutter-negative);
    margin-right: var(--gutter-negative);
    padding: calc(2 * var(--gutter)) var(--gutter);
  }
  
  @media only screen and (min-width: 768px) {
    .section {
      padding: calc(3 * var(--gutter)) calc(6 * var(--gutter));
    }
  }
  
  .section__header {
    margin-bottom: var(--space-xl);
  }
  
  .section--horizontal {
    padding: 0;
  }
  
  @media only screen and (min-width: 768px) {
  
    .section--horizontal  {
      padding: 0 calc(var(--gutter));
    }
  }
  
    .header {
    margin: 0 var(--gutter-negative);
    padding: var(--gutter);
    z-index: 50;
    width: 100vw;
    font-size: var(--typescale-6);
  }
  
  .header__logo {
    display: block;
    width: 25%;
  }
  
  .header__menu-wrapper {
    width: 25%;
  }
  
  .header__logo .logotype {
    display: block;
    top: var(--gutter);
    left: var(--gutter);
    height: 50px;
    width: auto;
  }
  
  .header .logotype path {
    stroke: var(--black);
    stroke-width: 1px;
  }
  
  .header .logotype path:last-child {
    animation: flash 4s ease infinite;
  }
  
  .header__featured-items {
    display: none;
    margin: auto var(--gutter);
    width: 50%;
    padding: 0;
    line-height: 40px;
  }
  
  .header__featured-items li {
    display: inline-block;
  }
  
  .header__featured-items a {
    margin-right: var(--space-sm);
    padding: var(--space-xs);
    display: block;
    background-color: var(--black);
    color: var(--white);
  }
  
  .header__featured-items li:last-child a {
    margin-right: 0;
  }
  
  @media only screen and (min-width: 768px) {
    .header__featured-items {
      display: flex;
    }
  }
  
  .header__nav {
    padding: var(--gutter);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    overflow-y:scroll;
    height: 100vh;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    transition: transform .5s ease;
  }
  
  .header__nav a {
    color: var(--white);
  }
  
  @media only screen and (min-width: 768px) {
    .header__nav {
      width: 75%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .header__nav {
      width: 50%;
    }
  }
  
  .header__nav button {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--black);
  }
  
  .header__nav ul {
    margin-top: 0;
  }
  
  .header__nav ul ul {
    margin-bottom: var(--space-md);
  }
  
  .header__list {
    margin-bottom: 0;
    width: 50%;
  }
  
  .header__nav-section {
    display: block;
    margin-bottom: var(--space-xs);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 800;
  }
  
  .header__nav-subsection {
    color: var(--white);
    line-height: 2;
    transition: all .15s ease-in-out;
  }
  
  .header__nav-subsection:hover {
    font-weight: 700;
  }
  
  .header__nav-subsection:hover:before {
    display: inline-block;
  }
  
  .header__nav--open {
    transform: translateX(0%);
  }
  
  .header input {
    border-color: var(--white);
    color: var(--white);
  }
  
  .header input::placeholder {
    color: var(--white-50);
  }
  
    /* Page footer */
  
  .footer {
    margin-left: var(--gutter-negative);
    margin-right: var(--gutter-negative);
    padding: var(--gutter) 0;
    background-color: var(--azure);
    color: var(--white);
  }
  
  .footer ul {
    font-size: var(--typescale-6);
    line-height: 3;
  }
  
  .footer a {
    text-decoration: none;
    color: var(--white);
  }
  
  .footer svg {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .footer .col--1of2 {
    flex-basis: 50%;
    max-width: 50%;
  }
  
  .footer__logo {
    display: block;
    margin-bottom: var(--space-lg);
    background-color: var(--azure);
  }
  
  /* @media only screen and (max-width: 1023px) {
    .footer {
      background-image:
        linear-gradient(90deg, transparent, transparent 50%, var(--white) 50%, transparent calc(50% + 1.5px));
    }
  
    .footer__legal {
      background-image:
        linear-gradient(180deg, transparent, transparent  0%, var(--white) 0%, transparent 1.5px),
        linear-gradient(180deg, transparent, transparent calc(100% - 1.5px), var(--white) 100%, transparent 0);
    }
  
    .footer__legal ul {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .footer {
      background-image:
        linear-gradient(90deg, transparent, transparent 33.3333333%, var(--white) 33.3333333%, transparent calc(33.3333333% + 1.5px)),
        linear-gradient(90deg, transparent, transparent calc(66.6666667% - 1.5px), var(--white) 66.6666667%, transparent 0);
    }
  
    .footer__legal {
      background-image:
        linear-gradient(180deg, transparent, transparent  0%, var(--white) 0%, transparent 1.5px),
        linear-gradient(90deg, transparent, transparent calc(100% - 1.5px), var(--white) 100%, transparent 0);
    }
  } */
  
  
    @keyframes bg-slide {
    0% {
      background-position: left;
    }
  
    50% {
      background-position: right;
    }
  
    100% {
      background-position: left;
    }
  }
  
  @keyframes flash {
    0% {
      fill: var(--azure);
      color: var(--azure);
    }
    20% {
      fill: var(--carnation);
      color: var(--carnation);
    }
    40% {
      fill: var(--chartreuse);
      color: var(--chartreuse);
    }
    60% {
      fill: var(--cyan);
      color: var(--cyan);
    }
    80% {
      fill: var(--violet);
      color: var(--violet);
    }
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Disable animations for prefers-reduced-motion */
  @media (prefers-reduced-motion: reduce) {
    [data-sal] {
      opacity: 1;
      transform: none;
    }
  }
  
    /* Back-to-top button */
  
  .top {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 5;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: var(--space-md);
    height: var(--space-md);
    bottom: var(--gutter);
    right: var(--gutter);
    background-color: var(--violet);
  }
  
    .button {
    padding: var(--space-xs);
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
    font-size: var(--typescale-6);
    color: var(--black);
    transition: all .15s ease-in-out;
  }
  
  .button--primary,
  a.button--primary {
    text-transform: uppercase;
    font-weight: 700;
  
    --initialTextColor: var(--white);
    --slideTextColor: var(--black);
  
    --initialBgColor: var(--black);
    --slideBgColor: var(--white);
  
    display: inline-block;
    background-image: linear-gradient(90deg,
      var(--initialBgColor) 0%,
      var(--initialBgColor) 50%,
      var(--slideBgColor) 50%,
      var(--slideBgColor) 100%);
      background-size: 200%;
      transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
      color .0015s linear;
      transition-delay: 0.0s, 0.15s;
    border: 1px solid var(--initialBgColor);
    color: var(--initialTextColor);
    text-decoration: none;
  }
  
  .button--primary:hover {
    color: var(--slideTextColor);
    cursor: pointer;
    background-position: -100% 100%;
  }
  
  .button--secondary {
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .button--secondary:hover {
    border-color: var(--black);
    background-color: var(--black);
    color: var(--white);
  }
  
  .button--custom:hover {
    border-color: var(--custom-colour);
    background-color: var(--custom-colour);
    color: var(--black);
  }
  
    .card-wrapper {
    padding-bottom: calc(2 * var(--gutter));
  }
  
  @media only screen and (max-width: 1023px) {
    .card-wrapper:not(:last-child) {
      margin-bottom: var(--space-md);
    }
  }
  
  .card {
    height: 100%;
    border-radius: 5px;
    border: 1px solid;
  }
  
  .card figure {
    overflow: hidden;
  }
  
  .card a .card__img,
  .card a .card__blank {
    transform: scale(1);
    transition: all .5s;
  }
  
  .card a:hover .card__img,
  .card a:hover .card__blank {
    transform: scale(1.05);
  }
  
  .card__header {
    padding: var(--space-sm);
    border-bottom: 1px solid;
    overflow-wrap: break-word;
  }
  
  h2.card__header,
  h3.card__header,
  h4.card__header,
  h5.card__header {
    margin: 0;
    font-size: 1em;
  }
  
  .card__header a {
    color: var(--white);
  }
  
  .card__header svg {
    display: block;
    height: 30px;
    width: auto;
    max-width: 100%;
  }
  
  .card__icon {
    margin-bottom: var(--space-xs);
  }
  
  .card__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: var(--space-sm);
    overflow: hidden;
  }
  
  .card__body p {
    margin-bottom: var(--space-sm);
  }
  
  .card__footer {
    border-top: 1px solid;
    text-align: right;
  }
  
  .card__footer a {
    --initialTextColor: var(--black);
    --slideTextColor: var(--white);
  
    --initialBgColor: var(--white);
    --slideBgColor: var(--black);
  
    display: inline-block;
    padding: var(--space-sm);
    background-image: linear-gradient(90deg,
      var(--initialBgColor) 0%,
      var(--initialBgColor) 50%,
      var(--slideBgColor) 50%,
      var(--slideBgColor) 100%);
      background-size: 200%;
      transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
      color .0015s linear;
      transition-delay: 0.0s, 0.15s;
    border-radius: 0 0 5px 0;
    border-left: 1px solid var(--initialBgColor);
    color: var(--initialTextColor);
    text-decoration: none;
    font-size: var(--typescale-6);
  }
  
  .card__footer a:hover {
    color: var(--slideTextColor);
    cursor: pointer;
    background-position: -100% 100%;
  }
  
  .card__footer--inverted {
    background: var(--black);
    border-color: var(--black);
    color: var(--white);
  }
  
  .card__body a {
    display: inline-block;
    text-decoration: none;
    transition: color .25s;
  }
  
  .card__body a:after {
    display: block;
    width: 100%;
    height: 1px;
    transition: width 0.25s;
    content: '';
    border-bottom: 1px solid var(--white);
  }
  
  .card__body a:hover:after {
    width: 0%;
  }
  
  .card__img,
  .card__blank {
    width: 100%;
    height: 25vh;
    object-fit: cover;
  }
  
  .card__body a {
    display: inline-block;
  }
  
  .card__body a:after {
    display:  block;
    content: '';
    height: 1px;
    width: 100%;
    transition: all .5s ease-in;
    border-bottom: 1px solid var(--black);
  }
  
  .card__body a:hover:after {
    width: 0%;
    transition: all .5s ease-out;
  }
  
  .card--floating {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }
  
  .card--inverted .card__header {
    background: var(--white);
    color: var(--black);
  }
  
  .card--inverted .card__header a {
    color: var(--white);
  }
  
  .card--inverted .card__header--plain {
    background: var(--black);
    color: var(--white);
  }
  
  .card--inverted .card__body {
    background: var(--black);
    color: var(--white);
  }
  
  .card--small {
    border-radius: 2px;
    font-size: smaller;
  }
  
  .card--small .card__header,
  .card--small .card__body {
    padding: var(--space-xs);
  }
  
  .card--large {
    border-radius: 10px;
  }
  
  .card--large .card__header,
  .card--large .card__body,
  .card--large .card__footer a {
    padding: var(--space-unit);
  }
  
  .bg-black .card__body a:after {
    border-color: var(--white);
  }
  
    .cards,
  .list {
    padding-bottom: 0;
  }
  
  .cards__header,
  .list__header {
    padding-top: var(--space-lg);
  }
  
  .cards__header-wrapper,
  .list__header-wrapper {
    padding-top: var(--space-lg);
    margin-bottom: var(--space-md);
    position: sticky;
    top: 0;
  }
  
  .cards__content,
  .list__content {
    padding-top: var(--space-md);
  }
  
  .cards a,
  .list a {
    display: inline-block;
    text-decoration: none;
    transition: color .25s;
  }
  
  .cards a:after,
  .list a:after {
    display: block;
    width: 100%;
    height: 1px;
    transition: width 0.25s;
    content: '';
    border-bottom: 1px solid;
  }
  
  .cards a:hover:after,
  .list a:hover:after {
    width: 0%;
  }
  
    ::placeholder {
    font-size: .85rem;
    color: var(--mid-grey);
  }
  
  label, input, button {
    display: block;
    margin-bottom: var(--space-sm);
  }
  
  label {
    font-weight: 600;
    font-weight: 700;
    letter-spacing: 0.045em;
  }
  
  input {
    padding: var(--space-xs);
    background-color: var(--white);
    border: 1px solid;
    font-size: var(--typescale-5);
    font-family: var(--sans-serif);
  }
  
  button {
    padding: var(--space-xs) var(--space-sm);
    cursor: pointer;
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
    font-family: var(--sans-serif);
    text-transform: uppercase;
    letter-spacing: 0.045em;
  }
  
    .full-width-list > li {
    padding: var(--space-md) 0;
  }
  
  .full-width-list > li:not(:last-child) {
    border-bottom: 1px solid;
  }
  
  .full-width-list ul {
    margin-bottom: 0;
  }
  
    .hero {
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);
  }
  
  .hero p:first-of-type {
    margin-bottom: var(--space-lg);
  }
  
  .hero p:last-of-type {
    margin-bottom: 0;
  }
  
  @media only screen and (min-width: 1024px) {
    .hero p:first-of-type {
      margin-bottom: 0;
    }
  }
  
    .label {
    margin: 0 0 var(--space-xs) 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--sans-serif);
    font-size: var(--typescale-6);
    letter-spacing: 0.045em;
    line-height: 1.35;
  }
  
  .label--secondary {
    text-transform: none;
    letter-spacing: 0;
  }
  
  .label + h1,
  .label + h2,
  .label + h3,
  .label + h4,
  .label + h5 {
    margin-top: 0.25em;
  }
  
    .line-thru {
    margin-bottom: var(--space-xs);
    position: relative;
    z-index: 1;
    color: currentColor;
  }
  
  .line-thru:before {
    border-top: 1px solid;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
  }
  
  .line-thru__inner {
    padding-right: var(--space-xs);
  }
  
    /* All non-OA.W logos, e.g. partners, funders */
  
  .logo {
    margin: 0 auto;
    width: 75%;
    height: auto;
    max-height: 50px;
  }
  
    .menu-trigger {
    padding: 0;
    position: fixed;
    top: var(--gutter);
    right: var(--gutter);
    width: 50px;
    height: 50px;
    z-index: 15;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  
  .menu-trigger__icon {
    display: block;
    position: absolute;
    height: 5px;
    width: 50px;
    border-radius: 2px;
    background: var(--white);
    content: '';
    transition: all .15s ease-in-out;
  }
  
  .menu-trigger__icon:first-child {
    top: 0;
  }
  
  .menu-trigger__icon:nth-child(2) {
    top: 22.5px;
  }
  
  .menu-trigger__icon:last-child {
    bottom: 0;
  }
  
  .menu-trigger--scrolled .menu-trigger__icon {
    background: var(--violet);
  }
  
  .menu-trigger--open .menu-trigger__icon {
    background: var(--violet);
  }
  
  .menu-trigger--open .menu-trigger__icon:first-child {
    transform: rotate(45deg) translate(15.75px, 15.75px);
  }
  
  .menu-trigger--open .menu-trigger__icon:nth-child(2) {
    display: none;
  }
  
  .menu-trigger--open .menu-trigger__icon:last-child {
    transform: rotate(-45deg) translate(15.75px, -15.75px);
  }
  
    .overlay {
    display: block;
    position: relative;
    width: 100%;
    height: 45vh;
  }
  
  .overlay__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45vh;
  }
  
  .overlay__text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45vh;
    text-align: center;
  }
  
  .overlay__text p {
    margin: 0;
    padding: var(--space-xs);
    background-color: var(--black);
  }
  
  .overlay__inner:hover,
  .overlay__inner:focus,
  .overlay__inner:active {
  
  }
  
    .portrait {
    margin-bottom: var(--space-md);
    height: auto;
    width: 100%;
    align-self: flex-start;
  }
  
  @media only screen and (min-width: 1024px) {
    .portrait {
      align-self: center;
    }
  }
  
  .portrait--circular {
    margin-bottom: var(--space-md);
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
  
  .portrait--circular img {
    border-radius: 50%;
  }
  
    .subnav {
    display: block;
  }
  
    .tab {
    display: block;
    margin: 0 var(--space-md) var(--space-sm) 0;
    font-weight: 700;
    font-size: var(--typescale-6);
  }
  
  .tab a {
    color: var(--white);
  }
  
  .tab a:after {
    display:  block;
    padding-top: var(--space-xs);
    content: '';
    height: 1px;
    width: 0%;
    transition: all .15s ease-out;
    border-bottom: 2px solid var(--white);
  }
  
  .tab--active a:after {
    width: 100%;
  }
  
  .tab:not(.tab--active) a:hover:after {
    width: 100%;
    transition: all .15s ease-in;
  }
  
    .timeline {
    margin-left: calc(var(--gutter-negative) * 1.6);
    padding: 0;
  }
  
  .timeline > li:before {
    margin: 0;
    height: var(--space-unit) !important;
    width: var(--space-unit) !important;
    background-color: transparent !important;
  }
  
  .timeline > li {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
  }
  
  .timeline > li:before {
    background-color: var(--white) !important;
    border: 1px solid;
  }
  
  .timeline > li > ul {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    font-weight: 400;
  }
  
  .timeline > li > ul > li {
    margin-left: calc(var(--space-md) + var(--space-sm));
    list-style: disc;
  }
  
  .timeline > li > ul > li:before {
    display: none;
  }
  
  
    .homepage__cover {
    margin: 0 var(--gutter-negative);
    padding: 0 var(--gutter);
    overflow-x: hidden;
    min-height: calc(var(--vh, 1vh) * 100);
    background: url('../img/bg1.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .homepage__cover .header {
    margin-bottom: 0;
  }
  
    .markdown {
    border-top: 1px solid;
  }
  
  .markdown h2:not(:first-child),
  .markdown h3:not(:first-child),
  .markdown h4:not(:first-child),
  .markdown h5:not(:first-child),
  .markdown h6:not(:first-child),
  .markdown .label:not(:first-child) {
    padding-top: var(--space-md);
  }
  
  .markdown .label + h1,
  .markdown .label + h2,
  .markdown .label + h3,
  .markdown .label + h4,
  .markdown .label + h5 {
    padding-top: 0;
  }
  
  .markdown ul, ol {
    padding: 0 0 0 var(--space-xs);
    margin-bottom: var(--space-md);
    list-style: none;
  }
  
  .markdown ul li:before {
    display: inline-block;
    margin-right: var(--space-xs);
    margin-bottom: .15em;
    content: '';
    box-sizing: border-box;
    width: .35em;
    height: .35em;
    border-radius: 50%;
  }
  
  .markdown ul li:nth-of-type(6n+1):before {
    background-color: var(--azure);
  }
  
  .markdown ul li:nth-of-type(6n+2):before {
    background-color: var(--carnation);
  }
  
  .markdown ul li:nth-of-type(6n+3):before {
    background-color: var(--mango);
  }
  
  .markdown ul li:nth-of-type(6n+4):before {
    background-color: var(--cyan);
  }
  
  .markdown ul li:nth-of-type(6n+5):before {
    background-color: var(--violet);
  }
  
  .markdown ul li:nth-of-type(6n+6):before {
    background-color: var(--chartreuse);
  }
  
  .markdown a {
    display: inline-block;
    text-decoration: none;
    transition: color .25s;
  }
  
  .markdown a:after {
    display: block;
    width: 100%;
    height: 1px;
    transition: width 0.25s;
    content: '';
    border-bottom: 1px solid;
  }
  
  .markdown a:hover:after {
    width: 0%;
  }
  
  .markdown__header-wrapper {
    padding-top: var(--space-lg);
    margin-bottom: var(--space-md);
    position: sticky;
    top: 0;
  }
  
  .markdown__content {
    padding-top: var(--space-lg);
  }
  
  @media only screen and (min-width: 1024px) {
    .markdown__content {
      border-left: 1px solid;
    }
  }
  
    :root {
    --gutter: 6vw;
    --gutter-negative: -6vw;
    --primary-colour: pink;
    --primary-colour-rgb: 255, 192, 203;
    --secondary-colour: hotpink;
    --sal-duration: 400ms;
  }
  
  html {
    font-size: 14px;
  }
  
  @media only screen and (min-width: 768px) {
    :root {
      --gutter: 3vw;
      --gutter-negative: -3vw;
    }
  
    html {
      font-size: 20px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    :root {
      --gutter: 1.5vw;
      --gutter-negative: -1.5vw;
    }
  
    html {
      font-size: 22px;
    }
  }
  
  .colour-block {
    background-color: var(--primary-colour);
  }
  
  .highlight {
    border-radius: 0.8em 0.3em;
    background-image: linear-gradient(to right, rgba(255,105,180, 0.095), rgba(255,105,180, 0.5) 4%, rgba(255,105,180, 0.25));
  }
  
  .highlight--white {
    border-radius: 0.8em 0.3em;
    background-image: linear-gradient(to right, rgba(255,255,255, 0.095), rgba(255,255,255, 0.5) 4%, rgba(255,255,255, 0.25));
  }
  
  .app-name {
    font-family: var(--serif);
    letter-spacing: -.025em;
  
    background: linear-gradient(to right, var(--secondary-colour), var(--primary-colour));
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip:text;
    color: currentColor;
    transition: all .25s ease-in-out;
  }
  
  .app-name__oa {
    margin-right: .055em;
    letter-spacing: -.025em;
  }
  
  .app-name:hover {
    color: rgba(0, 0, 0, 0);
  }
  
  .bg-gradient {
    background: linear-gradient(to right, var(--secondary-colour), var(--primary-colour));
    color: var(--black);
  }
  
  .cover {
    position: fixed;
    width: 100%;
  }
  
  .cover__background, .cover__tagline {
    min-height: 100vh;
  }
  
  .content {
    margin: 100vh var(--gutter-negative) 0 var(--gutter-negative);
    padding: var(--gutter) var(--gutter) 0 var(--gutter);
    position: relative;
    overflow-x: hidden;
  }
  
  .illus {
    background-color: var(--black);
  }
  
  .illus svg {
    margin-top: var(--space-sm);
    margin-bottom: var(--space-sm);
    border-radius: 5px;
    border: 1px solid;
  }
  
  #video {
    margin-left: var(--gutter-negative);
    position: fixed;
    transform: scaleX(-1);
  }
  
  @media only screen and (max-width: 1023px) {
    .cover h1 {
      z-index: 2;
      color: var(--black);
      text-align: center;
      font-size: calc(1.75 * var(--typescale-1));
    }
  
    .cover__tagline .label {
      display: none;
    }
  
    .cover__background {
      position: absolute;
      width: 100%;
    }
  
    .cover__tagline {
      z-index: 1;
      background-color: rgba(var(--primary-colour-rgb), 0.75);
    }
  
    .content {
      position: relative;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .col--1of2,
    .col--2of4,
    .col--3of6 {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  
  