
/*
Font families defined by this CSS:
- "Inter var"              single-axis variable fonts for all modern browsers

Use like this in your CSS:

  :root { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
  }

------------------------- static ------------------------- */

@font-face {
  font-family: 'Inter var';
  src: url('../fonts/Inter-roman.var.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'Inter var';
  src: url('../fonts/Inter-italic.var.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: 'Italic';
}