<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include 'partials/head.njk' %}
  </head>

  <body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    {% if site.banner %}
    <section class="row bg-white bg-gradient flex-center align-center type-6" style="z-index: 5; padding: .5em 0; position: sticky; top: 0;">
      <p class="no-margin">{{ site.banner | safe }}</p>
    </section>
    {% endif %}

    <main>      
      <section class="row cover">
        <div class="col col--1of2 cover__background">
          <div class="section flex-space-between flex-col">
            <h1>
              {% include 'partials/app-name.njk' %}
            </h1>
            <figure class="align-center">
              <a href="/img/screenshot.png" class="block-link" target="_blank" title="See screenshot in full size"><img src="/img/screenshot.png" alt="A screenshot of the OA.Report user interface showing Open Access insights and a list of proposed strategies to open closed-access content." style="border-radius: var(--space-xxs);"></a>
              <figcaption class="no-margin type-5 fw-700">{{ site.tagline }}</figcaption>
            </figure>
          </div>
        </div>
        <div class="col col--1of2 flex-center flex-col bg-white colour-block cover__tagline">
          <div class="align-center">
            <p class="margin-bottom align-center type-5">Use {% include 'partials/app-name.njk' %}’s open <span class="highlight">insights</span> and actionable <span class="highlight">strategies</span> to unlock your institution’s research.</p>
            <div class="margin-bottom-md search-container ">
              <label for="js-search-box">Find an organization</label>
              <input type="text" name="js-search-box" id="js-search-box" class="no-margin align-center" placeholder="By name, acronym, or ROR&hellip;" role="combobox" aria-controls="options" aria-expanded="false">
              <ul id="js-suggestions-list" style="display: none" role="listbox"></ul>
            </div>
            <p class="type-6 no-margin"><a href="#content">Or scroll down to learn more <div class="type-1">↓</div></a></p>
          </duv>
        </div>
      </section>
      
      <div class="content" id="content">      
        <section class="section bg-white">
          <div class="row row--centered">
            <div class="col col--2of3 col--group row">
              <div class="col col--1of4 margin-bottom-sm">
                <a href="https://www.nature.com/articles/d41586-023-00175-1" target="_blank" rel="noopener" class="block-link" title="Read the article “Confused by open-access policies? These tools can help”">
                  {% include 'svg/nature.svg' %}
                </a>
              </div>
              <p class="col col--3of4 no-margin">As seen in <a href="https://www.nature.com/articles/d41586-023-00175-1" target="_blank" rel="noopener"><span class="highlight">Nature</span>: <br><span class="border-bottom">“Confused by open-access policies? These tools can help”</span></a>.</p>
            </div>
          </div>
        </section>

        <section class="section bg-black">
          <h2 class="label padding-top">Our users</h2>
          <div class="row">
            <div class="col col--4of6">
              <p class="type-5">
                {% include 'partials/app-name.njk' %} is in use at {% for user in users %}{% if loop.first != true %}, {% elseif loop.last %} & {% endif %}<a href="{{ user.url }}" target="_blank" rel="noopener" class="border-bottom" title="Go to the {{ user.acronym }} website">{{ user.name }}</a><span class="sr-only">({{ user.acronym }})</span>{% endfor %}.
              </p>
            </div>
          </div>
      
          <div class="row row--centered">
            {% for user in users %}
            {% if user.logo %}
            <div class="col col--1of4">
              <a href="{{ user.url }}" target="_blank" rel="noopener" class="block-link margin-bottom-xl" title="Go to the {{ user.acronym }} website">
                <img src="../{{ user.logo }}" alt="Logo for {{ user.acronym }}"/>
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </section>
      
        <section class="section bg-white colour-block">
          <div class="row">
            <div class="col col--3of4">
              <p class="type-3 fw-200">{% include 'partials/app-name.njk' %} translates <span class="highlight--white">policy to practice</span> by helping libraries and funders:</p>
            </div>
          </div>
      
          <ul class="unstyled-list row row--centered">
            <li class="col col--1of3 flex-space-between flex-col">
              <h3 class="label border-top-thick padding-top"><span class="type-3">Discover</span></h3>
              <p class="type-5 no-margin fw-300">articles covered by their policies</p>
              <div>
                <div class="illus">{% include 'svg/system-1.svg' %}</div>
                <p class="type-6 fw-300">We discover articles and data using open scholarly metadata, targeted text and data mining, and an institution’s internal data sources.</p>
              </div>
            </li>
            <li class="col col--1of3 flex-space-between flex-col">
              <h3 class="label border-top-thick padding-top"><span class="type-3">Analyze</span></h3>
              <p class="type-5 no-margin fw-300">if and how articles comply</p>
              <div>
                <div class="illus">{% include 'svg/system-2.svg' %}</div>
                <p class="type-6 fw-300">We transparently analyse those articles against all the terms of the institution’s current policy, or custom criteria, to provide detailed statistics and key insights.</p>
              </div>
            </li>
            <li class="col col--1of3 flex-space-between flex-col">
              <h3 class="label border-top-thick padding-top"><span class="type-3">Unlock</span></h3>
              <p class="type-5 no-margin fw-300">individual articles and systemic changes</p>
              <div>
                <div class="illus">{% include 'svg/system-3.svg' %}</div>
                <p class="type-6 fw-300">We help libraries and funders unlock individual articles as they’re published by making outreach a one-click process, and help build evidence for systemic changes.</p>
              </div>
            </li>
          </ul>
      
          <h2 class="label border-top-thick padding-top"><span class="type-4">How {% include 'partials/app-name.njk' %} works for you</span></h2>
          <ol class="unstyled-list row row--centered">
            <li class="col col--1of3">
              <div class="type-1 fw-900">1</div>
              <p class="type-3 fw-300 no-margin">Tell us what institution you’re from.</p>
            </li>
            <li class="col col--1of3">
              <div class="type-1 fw-900">2</div>
              <p class="type-3 fw-300 no-margin">We’ll provide a custom report.</p>
            </li>
            <li class="col col--1of3">
              <div class="type-1 fw-900">3</div>
              <p class="type-3 fw-300 no-margin">You use it to make articles more open.</p>
            </li>
          </ol>
        </section>
      
        <div class="row row--centered bg-black" id="funders-newsletter">
          <div class="col">
            <div class="section">
              <div class="row">
                <section class="col col--1of2">
                  <h2 class="label">Our funders</h2>
                  <p class="type-5">Built in partnership with the <a href="https://blog.oa.works/grant-to-bolster-oa-policies-from-bmgf/" target="_blank" rel="noopener" class="border-bottom text-black">Bill & Melinda Gates Foundation</a> with grant support from the <a href="https://blog.oa.works/grant-from-robert-wood-johnson-foundation/" target="_blank" rel="noopener" class="border-bottom text-black">Robert Wood Johnson Foundation</a>.</p>
                  <div style="margin: 0 5rem 2rem 5rem;">
                    <a href="https://www.gatesfoundation.org/" target="_blank" rel="noopener" class="block-link" title="Go to the BMGF website">{% include 'svg/bmgf.svg' %}</a>
                  </div>
                </section>
                <section class="col col--1of2">
                  <div class="flex-center flex-col margin-bottom">
                    <div id="newsletter-inner">
                      <form id="newsletter">
                        <label for="email" class="label">Sign up for updates</label>
                        <div class="flex">
                          <input type="email" class="_oaworks_form" name="signup" id="email" placeholder="you@institution.edu" required/>
                          <button id="submit" type="submit" href="#funders-newsletter">Sign up</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row row--centered bg-white colour-block">
          <div class="col">
            <section class="section">
              <h2 class="label border-top-thick padding-top fw-700"><span class="type-1">Q&A</span></h2>
              {% for q in faq %}
              <details class="type-5 fw-300">
                <summary class="border-top fw-900 padding-top margin-bottom">{{ q.q|safe }}</summary>
                <p>{{ q.a|safe }}</p>
              </details>
              {% endfor %}
            </section>
          </div>
        </div>
      
        <footer class="section bg-black">
          <div class="row">
            <div class="col col--1of2">
              <h2 class="label"><span class="type-6">Developed by</span></h2>
              <div style="margin: 0 5rem 5rem 0;">
                <a href="https://oa.works" target="_blank" rel="noopener" class="block-link" title="Go to the OA.Works website">
                  {% include 'svg/logotype.svg' %}
                </a>
              </div>
            </div>
            <div class="col col--1of2">
              <h3 class="label"><span class="type-6">About us</span></h3>
              <p class="type-5">OA.Works is a non-profit building tools so that open access is easy and equitable.</p>
              <div class="flex-space-between flex-center">
                <a href="https://oa.works" target="_blank" rel="noopener" class="button">See our website</a> <a href="mailto:hello@oa.works" class="border-bottom">Contact us</a>
              </div>
            </div>
          </div>
        </footer>
      </div>    
    </main>

    <noscript><img src="https://sa.oa.works/noscript.gif" alt=""/></noscript>
    <script async defer src="https://sa.oa.works/latest.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/newsletter.js"></script>
    <script src="/js/search.js"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>


