{% extends 'layouts/base.njk' %}

{% block content %}
<h1>Discover, analyze, & unlock your organization’s scholarly articles</h1>
<figure></figure>

<section>
  <p>Freely access the OAreport page for more than 999,999 institutions, organizations, and consortia.</p>

  <h2>Start with yours now:</h2>
  <form>
    <label for="org_search">Organization, institution or consortium</label>
    <input type="text" id="org_search"></input>
    <button></button>
  </form>
</section>

<section>
  <header>
    <p>About this tool</p>
    <h2>Put open access policies into practice in minutes, not months.</h2>
  </header>
  <p>OAreport translates policy to impact by helping libraries and funders discover papers covered by their policies, analyze if and how papers comply, and unlock individual papers and systemic changes.</p>
  <p>-> <a href="https://oa.works" target="_blank" rel="noopener">More about OA.Works</a></p>
  <figure></figure>
</section>
{% endblock %}
