---
layout: layouts/base.njk
pagination:
    data: orgs.hits.hits
    size: 1
    alias: org
permalink: "{{ org._source.objectID | slug }}/"
---

{%- from "system/component.njk" import component -%}

<main>
  <div class="px-3 md:px-6">
    <div class="grid grid-cols-2 gap-3 sm:gap-6 md:gap-12 py-3 xl:pb-6 xl:pt-12">
      <header class="col-span-2 md:col-span-1">
        <h1 class="flex items-center">
          <div>
            <span class="text-2xl md:text-4xl font-light highlight">
              {{ org._source.name }}
              {% if org._source.paid == true %}
                {{ component("tooltip", {
                  msg: "<p>This OA.Report uses <a href='https://about.oa.report/docs/sources' target='_blank' class='underline underline-offset-4 decoration-1'>all our data sources</a> and state-of-the-art analysis to provide insights into their publications, impact, and how open their research is.</p>",
                  id: ""
                }) }}
              {% else %}
                {{ component("tooltip", {
                  msg: "<p>This OA.Report uses <a href='https://about.oa.report/docs/sources#open-sources' target='_blank' class='underline underline-offset-4 decoration-1'>open data</a> and automated analysis to provide insights into their publication volume and how open their research is.</p>",
                  id: ""
                }) }}
              {% endif %}
            </span>
          </div>
          <span class="ml-6 lg:h-14 lg:w-14 rounded-full bg-carnation-500"></span>
        </h1>

        <h2 class="text-2xl md:text-4xl font-light report_year">2023</h2>
      </header>
      {# Free reports’ prompt to sign up #}
      {% if org._source.paid == false %}
        <section class="col-span-2 md:col-span-1 p-8 pb-5 rounded-md bg-carnation-100 text-neutral-800 text-xs md:text-sm" id="about-free-logged-out">
          <h2 class="mb-2 font-semibold uppercase">
              Sign up to access your institution’s OA.Report for free
            </h2>
            <p class="mb-4">
              Consider a <a href="https://about.oa.report/pricing" target="_blank" class="underline underline-offset-4 decoration-1">paid plan</a> to help <a href="https://about.oa.report/docs/sources" target="_blank" class="underline underline-offset-4 decoration-1">discover all your papers</a> and provide up-to-date, deep insights into the state of open at your institution.
            </p>
            <div class="md:flex">
              {% include 'partials/signup-form.njk' %}
            </div>
        </section>
      {% endif %}
    </div>
  </div>

  <nav class="sticky top-0 pt-3 md:pt-6 z-20 bg-white transition-pb-0" id="top_nav">
    <h2 class="sr-only">See the report by year or custom dates</h2>
    <div class="flex">
      <div id="year-buttons-container" class="mx-3 md:mx-6 mb-1 md:mb-0 flex flex-wrap space-y-1 md:space-y-0 text-xs md:text-sm lg:text-lg"></div>
      {% if org._source.paid == false %}
        <span class="-ml-6">
          {{ component("tooltip", {
            msg: "<strong>Access previous years’ reports</strong><br> Upgrade to a <a href='https://about.oa.report/about/pricing#premium' target='_blank' class='underline underline-offset-2 decoration-1'>premium OA.Report</a> to understand your trends. Start now by <a href='#about-free-logged-out' class='underline underline-offset-2 decoration-1'>signing up</a>."}) 
          }}
        </span>
      {% endif %}
    </div>
  </nav>

  {# INSIGHTS #}
  <section class="bg-neutral-900 text-white scroll-mt-32 js_section" id="insights">
    <div class="p-3 md:px-6 md:py-16">
      <header class="col-span-3">
        <h2 class="mb-4 text-base md:text-lg leading-6">
          <span class="font-semibold uppercase text-sm md:text-base line-thru">
            <span class="bg-neutral-900">
              Insights on <strong class="font-bold">articles</strong>
              {{ component("tooltip", {
                msg: "The <em>Insights</em> section provides a quick overview of your organization’s Open Access statistics. Our data sources are listed on our <a href='https://oa.works/developers/infrastructure/' target='_blank' class='underline underline-offset-2 decoration-1'>infrastructure page</a>."
              }) }}
            </span>
          </span>
        </h2>
      </header>

      <div class="relative">
        <div class="hidden" id="insights_loading">
          <div class="loader ease-linear rounded-full border-8 border-t-8 border-carnation-200 border-t-carnation-500 h-12 w-12 absolute mt-6 mx-auto inset-x-0 z-10 bg-opacity-50 justify-center items-center"></div>
        </div>
      </div>

      <div class="grid gap-3 md:gap-6 grid-cols-2 md:grid-cols-4 lg:grid-cols-none lg:grid-flow-col xl:auto-cols-fr">
        {{ component("card", {
          id: "is_paper",
          title: "Total publications",
          icon: "file-text"
        }) }}

        {{ component("card", {
          id: "is_free_to_read",
          title: "Free-to-read",
          icon: "gift"
        }) }}

        {{ component("card", {
          id: "is_compliant",
          title: "OA policy-compliant",
          icon: "check-circle"
        }) }}

        {{ component("card", {
          id: "is_oa",
          title: "Open Access",
          icon: "unlock"
        }) }}

        {{ component("card", {
          id: "has_data_availability_statement",
          title: "With data availability statements",
          icon: "search"
        }) }}

        {{ component("card", {
          id: "has_open_data",
          title: "With Open Data",
          icon: "database"
        }) }}

        {{ component("card", {
          id: "has_open_code",
          title: "With Open Code",
          icon: "code"
        }) }}
      </div>

      {# <div class="sticky bottom-3 md:bottom-6 md:static mt-6 col-span-3 shadow-lg" id="insights_bar_container">
        <div class="bg-carnation-100 h-10 relative transition-all duration-1000" id="insights_bar">
          <span class="absolute inset-0 flex items-center justify-center text-neutral-800 text-xs md:text-sm font-semibold uppercase z-10 p-1" id="insights_text">Click on an Insight to visualise it</span>
          <div class="bg-carnation-300 h-10 transition-all duration-1000 absolute top-0 left-0" style="width: 0%;" id="insights_superset"></div>
          <div class="bg-carnation-500 h-10 transition-all duration-1000 absolute top-0 left-0" style="width: 0%;" id="insights_subset"></div>
        </div>
      </div> #}
    </div>
  </section>

  {# EXPLORE #}
  <section class="bg-neutral-800 text-white scroll-mt-32 js_section" id="explore">
    <div class="p-3 md:px-6 md:py-16">
      
      <header class="col-span-3">
        <h2 class="text-base md:text-lg leading-6">
          <span class="font-semibold uppercase text-sm md:text-base line-thru">
            <span class="bg-neutral-800">
              Data exploration
              {{ component("tooltip", {
                msg: "The <em>Data Exploration</em> section is in beta. We’re working on adding more features. If you have any feedback, please <a href='mailto:joe@oa.works?subject=OA.Report feedback' class='underline underline-offset-2 decoration-1'>get in touch by email</a>.",
                text: "Beta",
                theme: "tooltip-white"
              }) }}
            </span>
          </span>
        </h2>
      </header>

      <div class="flex flex-wrap space-r-4 space-b-4 items-center">
        <div id="explore_buttons">
          <button id="explore_see_more_button" class="items-center inline-flex p-2 px-4 mr-4 mt-4 px-3 rounded-full bg-carnation-300 font-medium text-xs md:text-sm text-neutral-900 transition duration-300 ease-in-out hover:bg-carnation-500"><span>See more</span></button>
        </div>
      </div>

      <div 
        class="fixed inset-0 z-50 flex justify-center items-center opacity-0 transition-opacity duration-300" 
        id="explore_loading"
        aria-live="polite" 
        aria-busy="true"
      >
        <div class="absolute inset-0 bg-neutral-800 bg-opacity-50"></div>
        <div class="loader ease-linear rounded-full border-8 border-t-8 border-carnation-200 border-t-carnation-500 h-12 w-12 z-10"></div>
        {# Visually hidden text for screen readers #}
        <div class="sr-only" id="loading_message">Loading, please wait.</div>
      </div>

      
      <div id="export_table" class="mt-12 hidden">
        <header class="mb-12 grid grid-cols-3 gap-3 sm:gap-6 md:gap-12 ">
          <h3 class="mb-4 md:mb-0 text-4xl col-span-3 md:col-span-1" aria-live="polite">
            <span class="report_sort_adjective">Top</span> <strong class="lowercase explore_type">articles</strong>
          </h3> 
          <p class="col-span-3 md:col-span-1 mb-2 md:mb-0 text-sm md:text-base md:border-l md:pl-4 border-neutral-300 text-neutral-100">
            This table is a preview of the <strong class="explore_type lowercase">articles</strong> records sorted by <strong class="explore_sort">publication count</strong>.
          </p>
        </header>
        <div class="my-4 gap-3 md:gap-12 flex justify-between">
          <div class="gap-3 md:gap-12 flex justify-between">
            <form class="w-auto">
              <fieldset id="explore_records_shown_field">
                <legend class="mb-4 text-xs font-semibold uppercase">
                  <span id="explore_articles_records_shown_help"
                        class="tooltip" 
                        role="tooltip"
                        tabindex="0"
                        data-tippy-theme="tooltip-pink"
                        data-tippy-placement="right"
                        data-tippy-content="You can view up to 500 records here. To see all of them, use the <em>Get this dataset in CSV</em> form below.">
                    Records shown
                  </span>
                  <span id="explore_terms_records_shown_help"
                        class="tooltip" 
                        role="tooltip"
                        tabindex="0"
                        data-tippy-theme="tooltip-pink"
                        data-tippy-placement="right"
                        data-tippy-content="You can view up to 500 records here.">
                    Records shown
                  </span>
                </legend>
                <div class="flex flex-wrap items-center" id="explore_records_shown"></div>
              </fieldset>
            </form>
            <form class="w-auto">
              <fieldset id="explore_filter_field">
                <legend class="mb-4 text-xs font-semibold uppercase">Filter by</legend>
                <div class="flex flex-wrap items-center" id="explore_filters"></div>
              </fieldset>
            </form>
          </div>
          <form class="w-auto block" id="explore_display_style_field">        
            <fieldset>   
              <legend class="mb-4 text-xs font-semibold uppercase text-right" for="toggler-data-view">Data display style</legend>
              <div class="flex items-center">
                <span class="mr-2 text-xs">{% icon_small "percent" %} Pretty</span>
                  <button id="toggle-data-view" type="button" class="relative inline-flex h-5 w-10 flex-shrink-0 cursor-pointer items-center justify-center rounded-full focus:outline-none focus:ring-2 focus:ring-carnation-500 focus:ring-offset-2" role="switch" aria-checked="true">
                    <span aria-hidden="true" class="bg-carnation-500 pointer-events-none absolute mx-auto h-4 w-9 rounded-full transition-colors duration-200 ease-in-out"></span>
                    <span aria-hidden="true" class="translate-x-100 pointer-events-none absolute left-0 inline-block h-5 w-5 transform rounded-full border border-neutral-500 bg-neutral-800 shadow ring-0 transition-transform duration-200 ease-in-out"></span>
                  </button>
                <span class="ml-2 text-xs">Raw {% icon_small "hash" %}</span>
              </div>
            </fieldset>
          </form>     
        </div>
        <div class="relative mb-12">
          <button
            id="js_scroll_table_btn"
            class="p-2 bg-carnation-100 text-neutral-900 text-2xl focus:outline-none focus:ring focus:ring-carnation-500 hover:bg-carnation-300 transition duration-300 ml-4 absolute right-3 top-1/2 transform -translate-y-1/2"
            aria-label="Scroll to see more of the table"
          >
            →
          </button>
          <div class="mb-4 overflow-x-auto border border-neutral-200 js_export_table_container" aria-live="polite">
            <table class="border-collapse w-full table-fixed js_export_table" id="explore_table">
              <thead class="border-b border-neutral-200 text-left text-xs font-medium uppercase tracking-wider" id="export_table_head"></thead>
              <tbody class="text-xs md:text-sm" id="export_table_body"></tbody>
            </table>
          </div>
          <div class="flex justify-end">
            <button id="explore_copy_clipboard" class="inline-flex items-center justify-content-end space-x-1 px-4 py-2 text-sm font-medium border border-neutral-100 text-white hover:bg-carnation-500 hover:text-neutral-900 hover:border-carnation-500 focus:outline-none focus:ring-1 focus:ring-carnation-300 focus:border-carnation-500 duration-500 whitespace-nowrap">
              <div class="flex items-center -ml-2">
                {% icon_small "clipboard" %}
              </div>
              <span>Copy to clipboard</span>
            </button>
          </div>
        </div>
        {# <div class="flex justify-between" id="explore_export_container"></div> #}
        {# TODO: allow downloading of all data in CSV #}
        {# <div class="flex justify-between">
          <div class="text-right">
            <a href="/temp/bmgf_all-articles_from_2023-01-01-to-2023-10-04_on_2023-09-27.csv" 
              download 
              role="button" 
              aria-label="Download full data as CSV"
              id="export_link"
              class="items-center space-x-2 px-4 py-2 text-base font-medium uppercase border border-neutral-100 text-neutral-100 bg-neutral-800 hover:bg-neutral-100 hover:text-neutral-900 focus:outline-none focus:ring-1 focus:ring-carnation-400 duration-500 whitespace-nowrap inline-block">
                Download all <span class="js_export_type">data</span> (CSV)
            </a>
          </div>
        </div> #}
        <div id="download_csv_form_container">{% include 'partials/email-download-form.njk' %}</div>
      </div>
    </div>
  </section>
  
  {# ACTIONS #}
  <section class="bg-neutral-700 text-white scroll-mt-32 js_section relative" id="strategies">
    <div class="p-3 md:px-6 md:py-16">
      <div class="grid grid-cols-2 gap-3 sm:gap-6 md:gap-12"> 
        <div class="col-span-2">
          <h2 class="leading-6 font-semibold uppercase text-sm md:text-base line-thru">
            <span class="bg-neutral-700">
              Actions
              {{ component("tooltip", {
                msg: "The <em>Strategy</em> section provides actionable steps for making more of your articles Open Access."
              }) }}
            </span>
          </h2>
          

          <nav class="hidden sm:block mt-6 mb-10">
            <h3 class="absolute right-0 bottom-0 text-9xl font-black text-white opacity-20">
              <span class="sr-only">Actions for </span><span class="export-year" id="report-year">2023</span>
            </h3>
            <ul class="flex flex-wrap space-r-4 space-b-4 items-center" role="tablist" aria-label="Actions Tabs">
              {{ component("strategy-pill", {
                id: "email_author_vor",
                txt: "Deposit publisher PDFs",
                class: "font-semibold bg-carnation-300",
                first: true
              }) }}

              {{ component("strategy-pill", {
                id: "email_author_aam",
                txt: "Deposit accepted manuscripts"
              }) }}

              {{ component("strategy-pill", {
                id: "apc_followup",
                txt: "Correct publisher errors"
              }) }}

              {{ component("strategy-pill", {
                id: "unanswered_requests",
                txt: "Escalate unanswered requests"
              }) }}
            </ul>
          </nav>

          <div class="hidden sm:block js_strategies">
            {{ component("strategy-contents", {
              id: "email_author_vor",
              heading: "Deposit publisher PDFs",
              desc: "Send emails to authors to request they make their work free to read. In these cases, they can do that by making a <strong>publisher PDF (version of record, VOR)</strong> available in a repository.",
              table_headings: "<th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-10/12 sm:w-6/12'>Article</th>\
                              <th scope='col' class='hidden px-3 py-3.5 text-left text-sm font-semibold w-4/12 sm:table-cell'>Corresponding author</th>",
              draft_btn: true,
              action_help_txt: true,
              hidden: false
            }) }}

            {{ component("strategy-contents", {
              id: "email_author_aam",
              heading: "Deposit accepted manuscripts",
              desc: "Send emails to authors to request they make their work free to read. In these cases, they can do that by making an <strong>author accepted manuscript (AAM)</strong> available in a repository.",
              table_headings: "<th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-10/12 sm:w-6/12'>Article</th>\
                              <th scope='col' class='hidden px-3 py-3.5 text-left text-sm font-semibold w-4/12 sm:table-cell'>Corresponding author</th>",
              draft_btn: true,
              action_help_txt: true,
              hidden: true
            }) }}

            {{ component("strategy-contents", {
              id: "apc_followup",
              heading: "Correct publisher errors",
              desc: "These are articles where an APC has been paid, but the article isn't compliant with the policy. Use this list to follow up with publishers. If an article is made compliant, and the metadata is updated, it will be removed from this list.",
              table_headings: "<th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-4/12 sm:w-4/12'>Publisher & journal</th>\
                              <th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-3/12 sm:w-4/12'>Article</th>\
                              <th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-5/12 sm:w-4/12'>Invoice</th>",
              draft_btn: false,
              action_help_txt: false,
              hidden: true
            }) }}

            {{ component("strategy-contents", {
              id: "unanswered_requests",
              heading: "Escalate unanswered requests",
              desc: "These articles are not compliant with policy, and their authors haven’t answered multiple requests to comply. Use this list to escalate requests to authors and request they make their work freely available.",
              table_headings: "<th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-3/12'>Grant</th>\
                              <th scope='col' class='px-3 py-3.5 text-left text-sm font-semibold w-7/12'>Author & article</th>",
              draft_btn: true,
              action_help_txt: false,
              hidden: true
            }) }}
          </div>

          <div class="sm:hidden text-sm md:text-base mt-6">
            <p>Actions aren’t available on mobile yet. Please head to a desktop computer to take action!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {# Dynamic modal #}
  <div id="dynamic-modal" class="fixed inset-0 flex items-center justify-center p-4 bg-neutral-900 bg-opacity-50 hidden z-50" aria-hidden="true" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-content scale-95 transform transition-transform duration-300 ease-out bg-carnation-100 text-neutral-900 shadow-lg md:w-8/12 overflow-y-auto max-h-[80vh] min-h-0" role="document">
      <div class="flex justify-between items-start p-3 md:p-6 bg-white">
        <h2 class="modal-title self-center text-2xl md:text-4xl font-light text-neutral-700"></h2>
        <button class="close-modal-btn self-center text-2xl md:text-4xl font-semibold text-neutral-700 hover:text-neutral-900">
          <span class="sr-only">Close modal</span>
          &times;
        </button>
      </div>
      <div class="modal-body p-3 md:p-6 text-xs md:text-base"></div>
    </div>
  </div>
</main>

