{% extends 'layouts/base.njk' %}

{% block content %}
<section class="col-span-12 mt-6 xl:mt-12">
  <ol class="list-decimal columns-2 gap-x-6">
    {% for org in orgs.hits.hits %}
    <li><a href="/orgs/{{ org._source.objectID | slug }}/">{{ org._source.name }}</a> {% if org._source.objectID == org._source.ror %}<a href="https://ror.org/{{ org._source.ror }}" target="_blank" rel="noopener" class="font-semibold">(ROR)</a>{% endif %}</li>
    {% endfor %}
  </ol>
</section>
{% endblock %}
