---
layout: layouts/base.njk
pagination:
    data: orgs.hits.hits
    size: 1
    alias: org
permalink: "{{ org._source.objectID | slug }}/"
---

{%- from "system/component.njk" import component -%}

<main class="bg-carnation-100">
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-2 gap-6 md:gap-12 py-3 xl:pb-6 xl:pt-12">
      <header class="mb-3 col-span-2 md:col-span-2">
        <h1 class="flex items-center">
          <div>
            <span class="font-semibold uppercase text-sm md:text-base line-thru">
              <span class="bg-carnation-100 pr-3">
                {% if org._source.policy.has_policy === true %}Put OA policy into practice at {% else %}Advance OA at {% endif %}
              </span>
            </span>
            <span class="text-2xl md:text-4xl font-light highlight">{{ org._source.name }}</span>
          </div>
          <span class="ml-6 lg:h-14 lg:w-14 rounded-full bg-carnation-500"></span>
        </h1>

        <h2 class="sr-only" id="report-range">
          Since the start of 2023
        </h2>
      </header>
    </div>
  </div>

  <nav class="container mx-auto px-6">
    <h2 class="sr-only">See the report by year</h2>
    <ul>
      <li class="mr-2 inline-block">
        {{ component("year-select", {
          id: "start-year",
          txt: "",
          selected: true
        }) }}
      </li>
      {% if org._source.paid == true %}
      <li class="mr-2 inline-block">
        {{ component("year-select", {
          id: "last-year",
          txt: ""
        }) }}
      </li>
      <li class="mr-2 inline-block">
        {{ component("year-select", {
          id: "two-years-ago",
          txt: ""
        }) }}
      </li>
      <li class="inline-block">
        {{ component("year-select", {
          id: "all-time",
          txt: "All time"
        }) }}
      </li>
      {% else %}
      <li class="mr-2 inline-block">
        <span class="inline-flex items-center px-4 py-2 md:px-6 md:py-4 border-t-4 text-base md:text-lg bg-white text-neutral-900 opacity-50">
          2022
        </span>
      </li>
      <li class="mr-2 inline-block">
        <span class="inline-flex items-center px-4 py-2 md:px-6 md:py-4 border-t-4 text-base md:text-lg bg-white text-neutral-900 opacity-50">
          2021
        </span>
      </li>
      <li class="mr-2 inline-block">
        <span class="inline-flex items-center px-4 py-2 md:px-6 md:py-4 border-t-4 text-base md:text-lg bg-white text-neutral-900 opacity-50">
          All time
        </span>
      </li>
      <li class="inline-block">
        {{ component("tooltip", {
          msg: "<strong>Access previous years’ reports</strong><br> Upgrade to a <a href='https://about.oa.report/about/pricing#premium' target='_blank' class='underline underline-offset-2 decoration-1'>premium OA.Report</a> to understand your trends. Start now by <a href='#about-free-logged-out' class='underline underline-offset-2 decoration-1'>signing up</a>."}) 
        }}
      </li>
      {% endif %}
    </ul>
  </nav>

  {# INSIGHTS #}
  <section class="bg-neutral-900 text-white" id="insights">
    <div class="mx-auto px-6 py-6 xl:py-12">
      <header class="col-span-3">
        <h2 class="mb-3 text-base md:text-lg leading-6">
          <span class="font-semibold uppercase text-sm md:text-base line-thru">
            <span class="bg-neutral-900">
              Insights on <strong class="font-bold">articles</strong>
              {{ component("tooltip", {
                msg: "The <em>Insights</em> section provides a quick overview of your organization’s Open Access statistics. Our data sources are listed on our <a href='https://oa.works/developers/infrastructure/' target='_blank' class='underline underline-offset-2 decoration-1'>infrastructure page</a>."
              }) }}
            </span>
          </span>
        </h2>
      </header>

      <div class="col-span-3 gap-6 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 mb-8">
        {{ component("card", {
          id: "is_paper",
          title: "Total published",
          icon: "file-text"
        }) }}

        {{ component("card", {
          id: "is_free_to_read",
          title: "Free-to-read",
          icon: "gift"
        }) }}

        {{ component("card", {
          id: "is_compliant",
          title: "OA policy-compliant",
          icon: "check-circle"
        }) }}

        {{ component("card", {
          id: "is_oa",
          title: "Open Access",
          icon: "unlock"
        }) }}

        {{ component("card", {
          id: "has_data_availability_statement",
          title: "With data availability statements",
          icon: "search"
        }) }}

        {{ component("card", {
          id: "has_open_data",
          title: "With Open Data",
          icon: "database"
        }) }}

        {{ component("card", {
          id: "has_open_code",
          title: "With Open Code",
          icon: "code"
        }) }}


    </div>
  </section>

  {# EXPLORE #}
  {% if org._source.paid == true %}
  <section class="bg-neutral-800 text-white" id="explore">
    <div class="mx-auto px-6 py-6 xl:py-12">
      <header class="col-span-3">
          <h2 class="mb-3 text-base md:text-lg leading-6">
            <span class="font-semibold uppercase text-sm md:text-base line-thru">
              <span class="bg-neutral-800">
                Explore
                {{ component("tooltip", {
                  msg: "Lorem ipsum dolor sit amet."
                }) }}
              </span>
            </span>
          </h2>
        </header>
      <div class="flex space-x-2 mb-8 justify-center" id="export_options">
        {{ component("pill", {
          id: "all_articles",
          txt: "All articles",
          filter_by: "articles",
          group_by: "none",
          title: "Showing first <strong>10</strong> of <strong>2,702</strong> records for <strong>2023</strong>",
          csv: "/temp/bmgf_all-articles_from_2023-01-01-to-2023-10-04_on_2023-09-27.csv",
          highlight: true
        }) }}
        {{ component("pill", {
          id: "articles_with_apcs",
          txt: "Articles with APCs",
          filter_by: "articles_with_apcs",
          group_by: "none",
          title: "Showing first <strong>10</strong> of <strong>1,027</strong> records for <strong>2023</strong>",
          csv: "/temp/bmgf_articles-with-apcs_from_2023-01-01-to-2023-10-04_on_2023-09-27.csv",
          highlight: false
        }) }}
      </div>

      {# TEMP CRAPPY NON-A11Y PROTOTYPING MARKUP #}
      <form class="mb-8 text-sm flex space-x-4 justify-center" id="explore_form">
        <div class="flex items-center font-semibold uppercase">I want to see</div>
        <div class="">
          <label for="filter_by" class="mb-3 font-semibold uppercase sr-only">Filter by</label>
          <select id="filter_by" name="filter_by" class="w-full py-2 bg-transparent border-b lowercase focus:outline-none focus:ring-2 focus:ring-carnation-500">
            <option value="articles">Articles</option>
            <option value="original_research_articles">Original research articles</option>
            <option value="preprints">Preprints</option>
            <option value="articles_with_apcs">Articles with APCs</option>
            <option value="articles_covered_by_policy">Articles covered by policy</option>
            <option value="funded_articles">Funded articles</option>
            <option value="authored_articles">Authored articles</option>
            <option value="none">Everything</option>
          </select>
        </div>
        <div class="flex items-center font-semibold uppercase">grouped by</div>
        <div class="">
          <label for="group_by" class="mb-3 font-semibold uppercase sr-only">Group by</label>
          <select id="group_by" name="group_by" class="w-full py-2 bg-transparent border-b lowercase focus:outline-none focus:ring-2 focus:ring-carnation-500">
            <option value="none">[none]</option>
            <option value="year_published">Year published</option>
            <option value="grant">Grant</option>
            <option value="author">Author</option>
            <option value="publisher">Publisher</option>
            <option value="subject">Subject</option>
            <option value="oa_status">OA status</option>
            <option value="program">Program</option>
            <option value="institution">Institution</option>
            <option value="country">Country</option>
            <option value="journal">Journal</option>
            <option value="journal_oa_type">Journal OA type</option>
            <option value="co_funder">Co-funder</option>
            <option value="publisher_license">Publisher license</option>
            <option value="preprint_license">Preprint license</option>
            <option value="repository_license">Repository license</option>
            <option value="dataset_license">Dataset license</option>
            <option value="software_license">Software license</option>
            <option value="dataset_publisher">Dataset publisher</option>
            <option value="software_publisher">Software publisher</option>
          </select>
        </div>
        <button type="submit" class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 text-sm font-medium border bg-transparent hover:bg-white hover:text-neutral-900 focus:outline-none focus:ring-1 focus:ring-carnation-300 focus:border-carnation-500 duration-500 border-0" id="export_preview_btn">
          Preview data
        </button>
      </form>

      <h3 class="font-semibold text-xl md:text-3xl mb-3 md:mb-6 text-center" id="export_title" aria-live="polite">
        Showing first <strong>10</strong> of <strong>2,702</strong> records for <strong>2023</strong>
      </h3>
      <div class="mb-4 overflow-x-auto" id="export_table">
        <table class="mb-3 min-w-full table-fixed border bg-white border-neutral-300 text-neutral-900">
          <thead class="border-b border-neutral-300">
            <tr id="modal_headings_{{ params.id }}">
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">DOI</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">is_compliant__bmgf</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">grantid__bmgf</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">title</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">publisher</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">journal</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">issn</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">published_date</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">published_year</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">PMCID</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">authorships.institutions.display_name</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">funder.name</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">is_oa</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">oa_status</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">journal_oa_type</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">publisher_license_best</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">has_repository_copy</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">repository_license_best</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">repository_version</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">repository_url</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">is_approved_repository__bmgf</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">is_preprint</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">can_archive</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">version</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">concepts.display_name</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">subject</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">program__bmgf</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">has_data_availability_statement</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">cited_by_count</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">author_email_name</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">email</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">invoice_date</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">invoice_number</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">apc_cost</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">oasupport.status</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">sheets</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">is_new__bmgf</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.data.has_shared_data</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.data.has_open_data</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.data.doi</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.data.url</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.data.accession</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.data.location</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.data.licence</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.data.evidence</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.code.has_made_code</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.code.has_shared_code</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.code.has_open_code</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.code.doi</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.code.url</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.code.accession</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.code.location</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.code.licence</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">dev.code.evidence</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">is_original_research</th>
              <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">data_availability_statement_category</th>
            </tr>
          </thead>
          <tbody class="text-xs">
            {% include 'partials/temp-default-tbody.njk' %}
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <a href="/temp/bmgf_all-articles_from_2023-01-01-to-2023-10-04_on_2023-09-27.csv" 
          download 
          role="button" 
          aria-label="Download full data as CSV"
          id="export_link"
          class="items-center space-x-2 px-4 py-2 text-base font-medium uppercase text-neutral-900 bg-carnation-500 hover:bg-carnation-300  hover:border-carnation-500 focus:outline-none focus:ring-1 focus:ring-carnation-300 focus:border-carnation-500 duration-500 border-0 whitespace-nowrap inline-block">
            Download full data (CSV)
        </a>
      </div>
    </div>
  </section>
  {% endif %}
  
  {# ACTIONS #}
  <section class="bg-neutral-700 text-white relative" id="strategies">
    <div class="mx-auto px-6">
      <div class="grid grid-cols-2 gap-6 md:gap-12 py-6 xl:py-12"> 
        <div class="col-span-2">
          <h2 class="leading-6 font-semibold uppercase text-sm md:text-base line-thru">
            <span class="bg-neutral-700">
              Actions
              {{ component("tooltip", {
                msg: "The <em>Strategy</em> section provides actionable steps for making more of your articles Open Access."
              }) }}
            </span>
          </h2>

          <nav class="hidden sm:block mt-6 mb-10">
            <h3 class="absolute right-0 bottom-0 text-9xl font-black text-white opacity-20">
              <span class="sr-only">Actions for </span><span id="report-year">2023</span>
            </h3>
            <ul role="tablist" aria-label="Actions Tabs">
              {{ component("strategy-pill", {
                id: "email_author_vor",
                txt: "Deposit publisher PDFs",
                class: "font-semibold bg-carnation-300",
                first: true
              }) }}

              {{ component("strategy-pill", {
                id: "email_author_aam",
                txt: "Deposit accepted manuscripts"
              }) }}

              {{ component("strategy-pill", {
                id: "apc_followup",
                txt: "Correct publisher errors"
              }) }}

              {{ component("strategy-pill", {
                id: "unanswered_requests",
                txt: "Escalate unanswered requests"
              }) }}
            </ul>
          </nav>

          <div class="hidden sm:block js_strategies">
            {{ component("strategy-contents", {
              id: "email_author_vor",
              heading: "Deposit publisher PDFs",
              desc: "Send emails to authors to request they make their work free to read. In these cases, they can do that by making a <strong>publisher PDF (version of record, VOR)</strong> available in a repository.",
              table_headings: "<th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-10/12 sm:w-6/12'>Article</th>\
                              <th scope='col' class='hidden px-3 py-3.5 text-left text-sm font-semibold w-4/12 sm:table-cell'>Corresponding author</th>",
              draft_btn: true,
              action_help_txt: true,
              hidden: false
            }) }}

            {{ component("strategy-contents", {
              id: "email_author_aam",
              heading: "Deposit accepted manuscripts",
              desc: "Send emails to authors to request they make their work free to read. In these cases, they can do that by making an <strong>author accepted manuscript (AAM)</strong> available in a repository.",
              table_headings: "<th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-10/12 sm:w-6/12'>Article</th>\
                              <th scope='col' class='hidden px-3 py-3.5 text-left text-sm font-semibold w-4/12 sm:table-cell'>Corresponding author</th>",
              draft_btn: true,
              action_help_txt: true,
              hidden: true
            }) }}

            {{ component("strategy-contents", {
              id: "apc_followup",
              heading: "Correct publisher errors",
              desc: "These are articles where an APC has been paid, but the article isn't compliant with the policy. Use this list to follow up with publishers. If an article is made compliant, and the metadata is updated, it will be removed from this list.",
              table_headings: "<th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-4/12 sm:w-4/12'>Publisher & journal</th>\
                              <th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-3/12 sm:w-4/12'>Article</th>\
                              <th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-5/12 sm:w-4/12'>Invoice</th>",
              draft_btn: false,
              action_help_txt: false,
              hidden: true
            }) }}

            {{ component("strategy-contents", {
              id: "unanswered_requests",
              heading: "Escalate unanswered requests",
              desc: "These articles are not compliant with policy, and their authors haven’t answered multiple requests to comply. Use this list to escalate requests to authors and request they make their work freely available.",
              table_headings: "<th scope='col' class='py-3.5 pl-4 pr-3 text-left text-sm font-semibold w-3/12'>Grant</th>\
                              <th scope='col' class='px-3 py-3.5 text-left text-sm font-semibold w-7/12'>Author & article</th>",
              draft_btn: true,
              action_help_txt: false,
              hidden: true
            }) }}
          </div>

          <div class="sm:hidden text-base mt-6">
            <p>Actions aren’t available on mobile yet. Please head to a desktop computer to take action!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {# ABOUT #}
  <section class="container mx-auto px-6">
    <div class="grid grid-cols-2 gap-6 md:gap-12 py-6 xl:py-12"> 
      <div class="col-span-2 grid md:grid-cols-2 gap-12 text-base md:text-2xl md:leading-8 md:font-light" id="about">
        <div>
          <h2 class=" font-semibold uppercase text-sm md:text-base line-thru">
            <span class="bg-carnation-100 pr-3">About this report</span>
          </h2>
          {# PAID USERS #}
          {% if org._source.paid == true %}
          <p class="my-6">
            <strong class="text-bold">{{ org._source.name }}</strong>’s custom OA.Report uses <a href="https://about.oa.report/docs/sources" target="_blank" class="underline underline-offset-4 decoration-1">all our data sources</a> and state-of-the-art analysis to provide insights into their publications, impact, and how open their research is.
          </p>
          <p class="my-6" id="about-paid-logged-out">
            <a href="https://about.oa.report/docs/user-accounts" target="_blank" class="underline underline-offset-4 decoration-1">Log in</a> to see the OA.Report.
          </p>
          {# FREE USERS #}
          {% else %}
          <p class="my-6">
            <strong class="text-bold">{{ org._source.name }}</strong>’s OA.Report uses <a href="https://about.oa.report/docs/sources#open-sources" target="_blank" class="underline underline-offset-4 decoration-1">open data</a> and automated analysis to provide insights into their publication volume and how open their research is.
          </p>
          {% endif %}
        </div>
        {# FREE USERS #}
        {% if org._source.paid != true %}
        <div id="about-free-logged-out">
          <h2 class="font-semibold uppercase text-sm md:text-base line-thru">
            <span class="bg-carnation-100 pr-3">Unlock your institution’s research</span>
          </h2>
          <p class="my-6">
            Sign up to access your institution's Actions for free. Consider a <a href="https://about.oa.report/pricing" target="_blank" class="underline underline-offset-4 decoration-1">paid plan</a> to help <a href="https://about.oa.report/docs/sources" target="_blank" class="underline underline-offset-4 decoration-1">discover all your papers</a> and provide up-to-date, deep insights into the state of open at your institution.
          </p>
          <div class="my-6 w-6/12">
            {% include 'partials/signup-form.njk' %}
          </div>
        </div>
        {% else %}
        <div>
        </div>
        {% endif %}
      </div>
    </div>
  </section>

  <div id="dynamic-modal" class="fixed inset-0 flex items-center justify-center p-4 bg-neutral-900 bg-opacity-50 hidden transition-opacity duration-300 z-50" aria-hidden="true" tabindex="-1" role="dialog" aria-modal="true">
    <div class="bg-carnation-100 text-neutral-900 p-6 shadow-lg md:w-8/12 overflow-y-auto max-h-[80vh] min-h-0" role="document">
      <div class="flex justify-between items-start">
        <h2 class="modal-title text-2xl font-semibold"></h2>
        <button class="close-modal-btn text-2xl font-semibold text-neutral-700 hover:text-neutral-900">
          <span class="sr-only">Close modal</span>
          &times;
        </button>
      </div>
      <div class="modal-content mt-4"></div>
    </div>
  </div>

  {# Container for all export modals’ HTML content #}
  <div id="export_modals">
    {{ component("modal", {
      id: "custom_export",
      title: "Create your own",
      include: "custom-export-form"
    }) }}
  </div>
</main>

{# TEMP CRAPPY PROTOTYPING SCRIPT #}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get references to elements
    var buttons = document.querySelectorAll('.js_export_pill');
    var form = document.getElementById('explore_form');
    var exportLink = document.getElementById('export_link');
    var filterBySelect = document.getElementById('filter_by');
    var groupBySelect = document.getElementById('group_by');
    var exportTitle = document.getElementById('export_title');
    var exportPreviewBtn = document.getElementById('export_preview_btn');

    // For each export pill button
    buttons.forEach(function(button) {
        button.addEventListener('click', function() {
            // First, remove the active class from all buttons
            buttons.forEach(function(btn) {
                btn.classList.remove('bg-carnation-300');
            });

            // Then, add the active class to the clicked button
            button.classList.add('bg-carnation-300');

            // Change select options in the form based on button's data attributes
            document.getElementById('filter_by').value = button.getAttribute('data-filter-by');
            document.getElementById('group_by').value = button.getAttribute('data-group-by');

            // Change the h3 title based on button's data-title
            document.getElementById('export_title').innerHTML = button.getAttribute('data-title');

            // Activate the export link with the button's data-csv value
            activateExportLink(button.getAttribute('data-csv'));
        });
    });

    // Function to deactivate the export link
    function deactivateExportLink() {
        exportLink.removeAttribute('href');
        exportLink.classList.add('bg-neutral-300', 'cursor-not-allowed');
        exportLink.classList.remove('bg-carnation-500', 'hover:bg-carnation-300', 'hover:border-carnation-500');
    }

    // Function to activate the export link with a given href
    function activateExportLink(hrefValue) {
        exportLink.href = hrefValue;
        exportLink.classList.remove('bg-neutral-300', 'cursor-not-allowed');
        exportLink.classList.add('bg-carnation-500', 'hover:bg-carnation-300', 'hover:border-carnation-500');
    }

    // Listen for form changes
    form.addEventListener('input', function() {
        // Deactivate buttons and the export link
        buttons.forEach(function(btn) {
            btn.classList.remove('bg-carnation-300');
        });
        deactivateExportLink();
    });

    // Listen for form submission if user selected filter by articles grouped by grants
    exportPreviewBtn.addEventListener('click', function(e) {
        e.preventDefault(); // prevent default form submission

        if (filterBySelect.value === 'articles' && groupBySelect.value === 'grant') {
            // Change the export title
            exportTitle.innerHTML = 'Showing first <strong>10</strong> of <strong>20</strong> records for <strong>2023</strong>';

            // Activate the export link with the new href value
            activateExportLink('/temp/bmgf_articles_grant_from_2023-01-01-to-2023-10-04_on_2023-09-27.csv');
        } else {
            deactivateExportLink();
        }
    });
  });
</script>

