---
layout: layouts/base.njk
---

<section class="text-center pt-12 pb-8">
  <div class="container mx-auto px-4" data-sal="fade" data-sal-delay="250">
    <h1 class="text-5xl font-serif font-bold leading-tighter my-8 text-neutral-900">
      This report is no longer available
    </h1>
    <p class="text-base text-neutral-700 mb-8 max-w-md mx-auto leading-relaxed tracking-wide">
      Sorry, the report you requested isn’t accessible anymore. If you have questions, or 
      want to chat about how we can help, please schedule a demo or <a href="/" class="underline underline-offset-2">return to our homepage</a> to learn more about OA.Report.
    </p>
    <a href="https://savvycal.com/Joe/ed52a37f"
       data-savvycal-embed
       class="inline-block bg-carnation-600 text-white mb-6 py-3 px-6 rounded-sm text-base hover:bg-carnation-500 transition-all duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-carnation-200">
      Schedule demo →
    </a>
    <div>
      <a href="/" class="text-base underline underline-offset-2 decoration-neutral-600">
        Back to homepage
      </a>
    </div>
  </div>
</section>

{# OA.Works slogan section #}
<section class="bg-neutral-800 text-white px-8 py-24" data-sal="fade">
  <div class="container mx-auto text-center">
    <ul class="font-serif font-bold text-2xl flex justify-center items-center space-x-4">
      <li data-sal="slide-up" data-sal-delay="200">
        <a href="https://github.com/oaworks/" target="_blank" rel="noopener" class="transition-all hover:text-carnation-500">
          Open-source
        </a>
      </li>
      <li class="text-neutral-100" aria-hidden="true">•</li>
      <li data-sal="slide-up" data-sal-delay="300">
        <a href="https://oa.works/about/values/" target="_blank" class="transition-all hover:text-carnation-500">
          Values-driven
        </a>
      </li>
      <li class="text-neutral-100" aria-hidden="true">•</li>
      <li data-sal="slide-up" data-sal-delay="400">
        <a href="https://oa.works/about/governance/" target="_blank" class="transition-all hover:text-carnation-500">
          Non-profit
        </a>
      </li>
    </ul>
  </div>
</section>

<script>
  // SavvyCal embed
  window.SavvyCal = window.SavvyCal || function() {
    (SavvyCal.q = SavvyCal.q || []).push(arguments)
  };
</script>
<script async src="https://embed.savvycal.com/v1/embed.js"></script>
<script>
  SavvyCal('init');
</script>