---
eleventyExcludeFromCollections: true
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
  <loc>{{ site.base_url }}</loc>
  <priority>0.8</priority>
  </url>
  {% for org in orgs.hits.hits %}
  {% if org._source.private == false %}
  <url>
    <loc>{{ site.base_url }}/{{ org._source.url_slug }}/</loc>
    <priority>0.9</priority>
  </url>
  {% endif %}
  {% endfor %}
</urlset>