@tailwind base;
@tailwind components;
@tailwind utilities;

.app-name {
  font-family: 'WremenaBold', serif;
  letter-spacing: -.025em;

  background: linear-gradient(to right, hotpink, pink);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip:text;
  color: currentColor;
  transition: all .25s ease-in-out;
}

.app-name__oa {
  margin-right: .055em;
  letter-spacing: -.025em;
}

.app-name:hover {
  color: rgba(0, 0, 0, 0);
}

/* Custom tooltip styling */
.tippy-box {
  background-color: #24201e;
  color: #fff;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.tippy-arrow {
  color: #24201e;
}

[data-tippy-content], sup > svg {
  cursor: pointer;
}
