@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default sans-serif body font, Inter */
:root { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

@font-face {
  font-family: 'Inter var';
  src: url('fonts/inter/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter var';
  src: url('fonts/inter/InterVariable-Italic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/inter/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/inter/InterVariable-Italic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Serif font used for some headings, Redaction */
@font-face {
  font-family: 'Redaction';
  src: url('fonts/redaction/Redaction-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Redaction';
  src: url('fonts/redaction/Redaction-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Redaction';
  src: url('fonts/redaction/Redaction-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Redaction 20 (Degraded) Styles */
@font-face {
  font-family: 'Redaction 20';
  src: url('fonts/redaction/Redaction_20-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Redaction 20';
  src: url('fonts/redaction/Redaction_20-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Redaction 20';
  src: url('fonts/redaction/Redaction_20-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Spinner/loader */
@layer utilities {
  .loader {
    @apply animate-spin;
  }
}

/* Custom modal animation */
@keyframes modalFadeInUp {
  0% {
    transform: translateY(20px) scale(0.98);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes modalFadeOutDown {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(20px) scale(0.98);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.modal-animate-in {
  animation: modalFadeInUp 0.25s ease-out forwards;
}

.modal-animate-out {
  animation: modalFadeOutDown 0.3s ease-in forwards;
}

.modal-background-animate-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.modal-background-animate-out {
  animation: fadeOut 0.5s ease-out forwards;
}

/* Line through text */
.line-thru {
  display: block;
  margin-bottom: .15em;
  position: relative;
  z-index: 1;
  color: currentColor;
}

.line-thru::before {
  border-top: 1px solid;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

/* Custom tooltip styling */
.tippy-box[data-theme~='tooltip-pink'] {
  background-color: #ffaeac;
  color: #24201e;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none; 
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.tippy-box[data-theme~='tooltip-pink'] .tippy-arrow {
  color: #ffaeac;
}

.tippy-box[data-theme~='tooltip-white'] {
  background-color: #fff;
  color: #24201e;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.tippy-box[data-theme~='tooltip-white'] .tippy-arrow {
  color: #fff;
}

[data-tippy-content], sup > svg {
  cursor: pointer;
}

.tippy-box[data-theme~='popover'] {
  background-color: #fff;
  color: #24201e;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.striped-bg {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(36, 32, 30, .25),
    rgba(36, 32, 30, .25) 3px,
    rgba(255, 255, 255, 0) 3px,
    rgba(255, 255, 255, 0) 6px
  );
}

/* Custom swapping text animations on homepage */
.flip-in {
  transition: transform 0.3s ease-out;
  transform: rotateX(90deg);
}
.flip-out {
  transition: transform 0.3s ease-in;
  transform: rotateX(0);
}

/* Custom CSS for button hover and click animations */
.bounce-on-hover {
  transition: transform 0.3s ease-in-out;
}
.bounce-on-hover:hover {
  transform: scale(1.05);
}
.click-bounce {
  transition: transform 0.15s ease-out;
}
.click-bounce:active {
  transform: scale(0.95);
}
