@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradient on hover for OA.Report name */
.app-name {
  letter-spacing: -.025em;
  font-weight: 700;
  background: linear-gradient(to right, #ff6666, #ffc2c2);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip:text;
  color: currentColor;
  transition: all .25s ease-in-out;
}

.app-name__oa {
  margin-right: .055em;
}

.app-name:hover {
  color: rgba(0, 0, 0, 0);
}

/* Texting highlighting in the style of a marker */
.highlight {
  border-radius: 0.8em 0.3em;
  background-image: linear-gradient(to right, rgba(255, 102, 102, 0.095), rgba(255, 102, 102, 0.5) 4%, rgba(255, 102, 102, 0.25));
}

.highlight--white {
  border-radius: 0.8em 0.3em;
  background-image: linear-gradient(to right, rgba(255,255,255, 0.095), rgba(255,255,255, 0.5) 4%, rgba(255,255,255, 0.25));
}

/* Custom tooltip styling */
.tippy-box[data-theme~='tooltip'] {
  background-color: #24201e;
  color: #fff;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.tippy-box[data-theme~='tooltip'] .tippy-arrow {
  color: #24201e;
}

[data-tippy-content], sup > svg {
  cursor: pointer;
}

.tippy-box[data-theme~='popover'] {
  background-color: #fff;
  color: #24201e;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}