@tailwind base;
@tailwind components;
@tailwind utilities;

/* Spinner/loader */
@layer utilities {
  .loader {
    @apply animate-spin;
  }
}

/* Custom modal animation */
@keyframes modalFadeInUp {
  0% {
    transform: translateY(20px) scale(0.98);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes modalFadeOutDown {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(20px) scale(0.98);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.modal-animate-in {
  animation: modalFadeInUp 0.25s ease-out forwards;
}

.modal-animate-out {
  animation: modalFadeOutDown 0.3s ease-in forwards;
}

.modal-background-animate-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.modal-background-animate-out {
  animation: fadeOut 0.5s ease-out forwards;
}

/* Texting highlighting in the style of a marker */
.highlight {
  border-radius: 0.8em 0.3em;
  background-image: linear-gradient(to right, rgba(255, 102, 102, 0.095), rgba(255, 102, 102, 0.5) 4%, rgba(255, 102, 102, 0.25));
}

.highlight--white {
  border-radius: 0.8em 0.3em;
  background-image: linear-gradient(to right, rgba(255,255,255, 0.095), rgba(255,255,255, 0.5) 4%, rgba(255,255,255, 0.25));
}

/* Line through text */
.line-thru {
  display: block;
  margin-bottom: .15em;
  position: relative;
  z-index: 1;
  color: currentColor;
}

.line-thru::before {
  border-top: 1px solid;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

/* Custom tooltip styling */
.tippy-box[data-theme~='tooltip-pink'] {
  background-color: #ffaeac;
  color: #24201e;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none; 
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.tippy-box[data-theme~='tooltip-pink'] .tippy-arrow {
  color: #ffaeac;
}

.tippy-box[data-theme~='tooltip-white'] {
  background-color: #e9e9e9;
  color: #24201e;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.tippy-box[data-theme~='tooltip-white'] .tippy-arrow {
  color: #e9e9e9;
}

[data-tippy-content], sup > svg {
  cursor: pointer;
}

.tippy-box[data-theme~='popover'] {
  background-color: #fff;
  color: #24201e;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

:root { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.transition-pb-0 {
  padding-bottom: 0;
  transition: padding-bottom 0.3s ease;
}

.transition-pb-3 {
  padding-bottom: .75rem; 
  transition: padding-bottom 0.3s ease;
}

@media (min-width: 768px) {
  .md\:transition-pb-6 {
    padding-bottom: 1.5rem; 
    transition: padding-bottom 0.3s ease;
  }
}

.striped-bg {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(36, 32, 30, .25),
    rgba(36, 32, 30, .25) 3px,
    rgba(255, 255, 255, 0) 3px,
    rgba(255, 255, 255, 0) 6px
  );
}

/* Custom swapping text animations on homepage */
.flip-in {
  transition: transform 0.3s ease-out;
  transform: rotateX(90deg);
}
.flip-out {
  transition: transform 0.3s ease-in;
  transform: rotateX(0);
}

/* Custom CSS for button hover and click animations */
.bounce-on-hover {
  transition: transform 0.3s ease-in-out;
}
.bounce-on-hover:hover {
  transform: scale(1.05);
}
.click-bounce {
  transition: transform 0.15s ease-out;
}
.click-bounce:active {
  transform: scale(0.95);
}
