@tailwind base;
@tailwind components;
@tailwind utilities;

/* Texting highlighting in the style of a marker */
.highlight {
  border-radius: 0.8em 0.3em;
  background-image: linear-gradient(to right, rgba(255, 102, 102, 0.095), rgba(255, 102, 102, 0.5) 4%, rgba(255, 102, 102, 0.25));
}

.highlight--white {
  border-radius: 0.8em 0.3em;
  background-image: linear-gradient(to right, rgba(255,255,255, 0.095), rgba(255,255,255, 0.5) 4%, rgba(255,255,255, 0.25));
}

/* Line through text */
.line-thru {
  display: block;
  margin-bottom: .15em;
  position: relative;
  z-index: 1;
  color: currentColor;
}

.line-thru::before {
  border-top: 1px solid;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

/* Custom tooltip styling */
.tippy-box[data-theme~='tooltip'] {
  background-color: #24201e;
  color: #fff;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.tippy-box[data-theme~='tooltip'] .tippy-arrow {
  color: #24201e;
}

[data-tippy-content], sup > svg {
  cursor: pointer;
}

.tippy-box[data-theme~='popover'] {
  background-color: #fff;
  color: #24201e;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

:root { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.transition-pb-0 {
  padding-bottom: 0;
  transition: padding-bottom 0.3s ease;
}
.transition-pb-6 {
  padding-bottom: 1.5rem; 
  transition: padding-bottom 0.3s ease;
}