{# Download in CSV #}
<form id="download_csv_form" onsubmit="return window.getExportLink()">
  <h2 class="mb-4">
    <div class="mb-2 text-sm font-semibold uppercase">
      CSV download
      {{ component("tooltip", {
      msg: "Enter your email address to receive a link to a CSV for download. <strong>We do not save email addresses or use them for any purpose</strong> other than sending you the CSV file containing OA.Report data when you request it."
    }) }}
    </div> 
    <div class="text-sm">You are downloading all <span class="py-1 px-2 my-1 bg-opacity-10 bg-carnation-200 text-neutral-100 rounded-full lowercase explore_type">articles</span> for <span class="py-1 px-2 my-1 bg-opacity-10 bg-carnation-200 text-neutral-100 rounded-full"><span class="report_readable_start_date"></span> — <span class="report_readable_end_date"></span></span> sorted by <span class="py-1 px-2 my-1 bg-opacity-10 bg-carnation-200 text-neutral-100 rounded-full explore_sort">publication count</span> & filtered by <span class="py-1 px-2 my-1 bg-opacity-10 bg-carnation-200 text-neutral-100 rounded-full lowercase explore_filter">all articles</span> 
  </h2>
  <label for="email" class="sr-only">Email address</label>
  <div class="mt-1 mb-3 flex shadow-md lg:w-1/3">
    <div class="relative flex items-stretch flex-grow focus-within:z-10">
      <div class="absolute inset-y-0 left-0 pl-2 flex items-center pointer-events-none text-white">
        {% icon_small "mail" %}
      </div>
      <input type="email" name="email" id="email" class="focus:ring-carnation-300 focus:border-carnation-500 block w-full pl-10 py-2 sm:text-sm border border-neutral-100 bg-transparent text-white" placeholder="you@example.com" required>
    </div> 
    <button type="submit" class="--ml-px relative inline-flex items-center space-x-2 px-2 py-2 text-sm font-medium border border-neutral-100 text-white hover:bg-carnation-500 hover:text-neutral-900 hover:border-carnation-500 focus:outline-none focus:ring-1 focus:ring-carnation-300 focus:border-carnation-500 duration-500 border-l-0 whitespace-nowrap">
      Send CSV
    </button>
  </div>
  <p class="leading-5 text-xs text-neutral-200" id="csv_email_msg"></p>
</form>
