{# CSV Export content #}

{# <h3 class="mb-3 text-lg font-medium">
  Data preview
</h3> #}
<p class="mb-3 text-base">
  This table is a preview of the first five rows from your CSV export file. 
</p>
<p class="mb-3 text-base">
  The full file contains <strong class="text-bold" id="">2,992 records</strong>. Use the "Send CSV" form to get the entire data.
</p>
<div class="overflow-x-auto">
  <table class="mb-3 min-w-full border bg-white border-neutral-300">
    <thead class="border-b border-neutral-300">
      <tr id="modal_headings_{{ params.id }}">
        <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">DOI</th>
        <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">grantid__bmgf</th>
        <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">publisher_simple</th>
        <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">journal</th>
        <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">journal_oa_type</th>
        <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">published_date</th>
        <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">oa_status</th>
        <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">publisher_license_best</th>
        <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">apc_cost</th>
        <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">invoice_number</th>
        <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">invoice_date</th>
        <th scope="col" class="p-3 text-left text-xs font-medium uppercase tracking-wider">invoice_year</th>
      </tr>
    </thead>
    <tbody class="text-xs">
      <tr>
        <td class="p-2 whitespace-nowrap">10.1017/s1368980023001593</td>
        <td class="p-2 whitespace-nowrap"> </td>
        <td class="p-2 whitespace-nowrap"> </td>
        <td class="p-2 whitespace-nowrap">Public Health Nutrition</td>
        <td class="p-2 whitespace-nowrap">closed</td>
        <td class="p-2 whitespace-nowrap">2023-08-02</td>
        <td class="p-2 whitespace-nowrap"> </td>
        <td class="p-2 whitespace-nowrap"> </td>
        <td class="p-2 whitespace-nowrap">2880</td>
        <td class="p-2 whitespace-nowrap">APC600439481</td>
        <td class="p-2 whitespace-nowrap">2023-08-01</td>
        <td class="p-2 whitespace-nowrap">2023</td>
      </tr>
      <tr>
        <td class="p-2 whitespace-nowrap">10.4269/ajtmh.22-0599</td>
        <td class="p-2 whitespace-nowrap">INV-010638</td>
        <td class="p-2 whitespace-nowrap">american society of tropical medicine and hygiene</td>
        <td class="p-2 whitespace-nowrap">The American Journal of Tropical Medicine and Hygiene</td>
        <td class="p-2 whitespace-nowrap">transformative</td>
        <td class="p-2 whitespace-nowrap">2023-08-02</td>
        <td class="p-2 whitespace-nowrap">hybrid</td>
        <td class="p-2 whitespace-nowrap">cc-by</td>
        <td class="p-2 whitespace-nowrap">4000</td>
        <td class="p-2 whitespace-nowrap">TROP63930</td>
        <td class="p-2 whitespace-nowrap">2023-05-21</td>
        <td class="p-2 whitespace-nowrap">2023</td>
      </tr>
      <tr>
        <td class="p-2 whitespace-nowrap">10.1016/j.ssmph.2023.101473</td>
        <td class="p-2 whitespace-nowrap"> </td>
        <td class="p-2 whitespace-nowrap"> </td>
        <td class="p-2 whitespace-nowrap">SSM - Population Health</td>
        <td class="p-2 whitespace-nowrap">gold</td>
        <td class="p-2 whitespace-nowrap">2023-08-01</td>
        <td class="p-2 whitespace-nowrap">gold</td>
        <td class="p-2 whitespace-nowrap"> </td>
        <td class="p-2 whitespace-nowrap">2630</td>
        <td class="p-2 whitespace-nowrap">1323170</td>
        <td class="p-2 whitespace-nowrap">2023-08-01</td>
        <td class="p-2 whitespace-nowrap">2023</td>
      </tr>
      <tr>
        <td class="p-2 whitespace-nowrap">10.1016/s2666-5247(23)00112-x</td>
        <td class="p-2 whitespace-nowrap"> </td>
        <td class="p-2 whitespace-nowrap">elsevier</td>
        <td class="p-2 whitespace-nowrap">The Lancet Microbe</td>
        <td class="p-2 whitespace-nowrap">gold</td>
        <td class="p-2 whitespace-nowrap">2023-08-01</td>
        <td class="p-2 whitespace-nowrap">closed</td>
        <td class="p-2 whitespace-nowrap">cc-by</td>
        <td class="p-2 whitespace-nowrap">6300</td>
        <td class="p-2 whitespace-nowrap">1315170</td>
        <td class="p-2 whitespace-nowrap">2023-07-07</td>
        <td class="p-2 whitespace-nowrap">2023</td>
      </tr>
      <tr>
        <td class="p-2 whitespace-nowrap">10.1016/j.envint.2023.108059</td>
        <td class="p-2 whitespace-nowrap">OPP1131279</td>
        <td class="p-2 whitespace-nowrap">elsevier</td>
        <td class="p-2 whitespace-nowrap">Environment International</td>
        <td class="p-2 whitespace-nowrap">gold</td>
        <td class="p-2 whitespace-nowrap">2023-08-01</td>
        <td class="p-2 whitespace-nowrap">gold</td>
        <td class="p-2 whitespace-nowrap">cc-by</td>
        <td class="p-2 whitespace-nowrap">3790</td>
        <td class="p-2 whitespace-nowrap">1323170</td>
        <td class="p-2 whitespace-nowrap">2023-08-01</td>
        <td class="p-2 whitespace-nowrap">2023</td>
      </tr>
    </tbody>
  </table>
</div>
{# <button class="items-center space-x-2 px-4 py-2 text-sm font-medium text-white bg-neutral-900 hover:bg-carnation-500 hover:text-neutral-900 hover:border-carnation-500 focus:outline-none focus:ring-1 focus:ring-carnation-300 focus:border-carnation-500 duration-500 border-0 whitespace-nowrap">Download CSV</button> #}
{% include 'partials/email-download-form.njk' %}