<footer>
  <a href="https://oa.works" target="_blank" rel="noopener">[OA.Works logo]</a>
  <nav>
    <ul>
      <li>
        <a href="#">Privacy</a>
      </li>
      <li>
        <a href="#">Accessibility</a>
      </li>
      <li>
        <a href="#">Terms & Conditions</a>
      </li>
    </ul>
  </nav>
</footer>
