<footer class="bg-neutral-900 text-white md:flex md:justify-between p-8 md:px-8">
  <a href="https://oa.works" target="_blank" rel="noopener" class="block">
    {% include 'partials/oa-works.svg' %}
  </a>
  <nav class="flex">
    <ul class="flex space-x-12 self-center">
      {% for item in nav_footer %}
      <li>
        <a href="{{ item.url }}" target="_blank" class="text-base md:text-lg hover:text-carnation-500 transition duration-300">{{ item.label }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</footer>

<script src="../js/popper.min.js"></script>
<script src="../js/tippy-bundle.umd.min.js"></script>
<script>
  tippy(document.querySelectorAll('.tooltip'), {
    allowHTML: true,
    interactive: true,
    placement: 'top',
    appendTo: document.body,
  });

  tippy(document.querySelectorAll('.dropdown'), {
    arrow: false,
    allowHTML: true,
    interactive: true,
    placement: 'bottom-start',
    appendTo: document.body,
    theme: 'dropdown',
  });

  tippy(document.querySelectorAll('.popover'), {
    allowHTML: true,
    interactive: true,
    placement: 'bottom',
    appendTo: document.body,
    trigger: 'click',
    theme: 'popover',
    arrow: false,
  });
</script>
<script src="/js/oareport.js"></script>
<script src="/js/ui.js"></script>
{% block extra_footer %}{% endblock %}
