<footer class="bg-neutral-900 text-white md:flex md:justify-between p-8 md:px-8">
  <a href="https://oa.works" target="_blank" rel="noopener" class="block">
    {% include 'partials/oa-works.svg' %}
  </a>
  <nav class="flex">
    <ul class="flex space-x-12 self-center">
      {% for item in nav_footer %}
      <li>
        <a href="{{ item.url }}" class="text-base md:text-lg hover:text-carnation-500 transition duration-300">{{ item.label }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</footer>

<script src="/js/oareport.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
  tippy('[data-tippy-content]', {
    allowHTML: true,
    interactive: true,
    placement: 'bottom',
    appendTo: document.body,
  });
</script>
{% block extra_footer %}{% endblock %}
