<header>
  <h2>
    <a href="/">
      {% include 'partials/app-name.njk' %}
    </a>
  </h2>
  <nav>
    <ul>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Pricing</a>
      </li>
      <li>
        <a href="">Login</a>
      </li>
    </ul>
  </nav>

  <div class="" id="">

  </div>
</header>
