<header class="flex justify-between px-4 sm:px-6 md:px-8 pt-6 lg:pt-8">
  <h2 class="text-3xl">
    <a href="/">
      {% include 'partials/app-name.njk' %}
    </a>
  </h2>
  <nav>
    <ul class="flex space-x-6">
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Pricing</a>
      </li>
      <li>
        <a href="">Login</a>
      </li>
    </ul>
  </nav>
</header>
