{%- from "system/component.njk" import component -%}

<header class="bg-neutral-100 drop-shadow-md z-50{% if page.url == '/' %} h-auto sticky top-0{% endif %}">
  <h2 class="sr-only">
    OA.Report
  </h2>
  <nav class="mx-auto flex max-w-10xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <h3 class="sr-only">Site navigation</h3>
    <div class="flex items-center lg:flex-1">
      <a href="/" class="-mb-2 p-1.5 flex items-cente">
        {% include 'partials/app-name.njk' %}
      </a>
    </div>
    <div class="flex items-center flex-1 justify-end gap-x-4 sm:gap-x-8 md:gap-x-12">
      <a href="https://about.oa.report/" class="text-sm font-semibold leading-6 text-gray-900">About</a>
      {% if page.url != "/" %}
      <a href="?logout" id="logout" class="text-sm font-semibold leading-6 text-gray-900">Log out <span aria-hidden="true">&rarr;</span></a>
      <button data-modal-title="Log in to access this OA.Report" data-modal-content="<div class='text-center'><p class='mb-2'>If you work for <strong>{{ org._source.name }}</strong>, search your inbox for an email titled <br><span class='highlight font-normal'>“OA.Report login link”</span><br> to access your report.</p><p class='mb-4'>If you can’t find it, please <a href='mailto:joe@oa.works?subject=I%20can’t%20find%20my%20OA.Report%20login%20link' class='underline underline-offset-2 decoration-1'>contact our helpdesk</a>.</p><hr><p class='pt-4'><small class='text-xs font-normal'>Find out more about <a href='https://about.oa.report/docs/user-accounts' target='_blank' rel='noopener' class='underline underline-offset-2 decoration-1'>OA.Report user accounts</a>.</small></p></div>" class="text-sm font-semibold leading-6 text-gray-900" id="login">Log in <span aria-hidden="true">&larr;</span></button>
      {% endif %}
      {% if page.url == '/' %}
      <a href="https://blog.oa.works/join-the-oa-report-for-libraries-pilot-to-simplify-compliance-checking-for-your-institutional-funders-oa-policies/" target="_blank" class="text-sm font-semibold leading-6 text-gray-900">For libraries</a>
      <a href="https://savvycal.com/Joe/ed52a37f" data-savvycal-embed class="inline-block bg-carnation-600 text-white text-xs p-2 rounded-sm hover:bg-carnation-500 transition-all duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-carnation-200 font-semibold">
        Schedule a demo
      </a>
      {% endif %}
    </div>
  </nav>
</header>