<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if org._source.name %}{{ org._source.name }}{% if org._source.acronyms %} ({{ org._source.acronyms }}){% endif %} — {% endif %}OA.Report</title>
  {# <link rel="preload" href="/assets/fonts/WremenaRegular.woff" as="font" crossorigin>
  <link rel="preload" href="/assets/fonts/WremenaBold.woff" as="font" crossorigin> #}
  {# <link rel="preload" href="/assets/fonts/Inter.woff2" as="font" crossorigin> #}
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  {% if page.url == "/" %}
  <link rel="stylesheet" href="/css/home.css">
  {% else %}
  <link rel="stylesheet" href="/tailwind.css"/>
  {% endif %}

  <meta name="description" content="Insights and strategies for Open Access and OA policies{% if org._source.name %} at {{ org._source.name }}{% endif %}.">

  {# Favicons #}
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#FFC0CB">
  <meta name="msapplication-TileColor" content="#FFC0CB">
  <meta name="theme-color" content="#25201E">

  {# OpenGraph #}
  <meta property="og:url" content="{{ site.base_url }}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.fileSlug == 'orgs-pages' %}{{ org._source.name | safe }}’s report{% else %}{{ page.title }}{% endif %}">
  <meta property="og:image" content="{{ site.base_url }}/img/og_meta.png">
  <meta property="og:image:alt" content="The OA.Report wordmark is shown alongside three small illustrations. Those illustrations include a simplified table displaying the status of paper, checkboxes, and a button that says unlock.">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:locale" content="en_US">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.twitter }}">
  <meta name="twitter:url" content="{{ site.base_url }}{{ page.url }}">
  <meta name="twitter:title" content="{% if page.fileSlug == 'orgs-pages' %}{{ org._source.name | safe }}’s report{% else %}{% endif %}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.base_url }}/img/twitter_meta.png">
  <meta name="twitter:image:alt" content="The OA.Report wordmark is shown alongside three small illustrations. Those illustrations include a simplified table displaying the status of paper, checkboxes, and a button that says unlock.">

  {# SimpleAnalytics tracking code #}
  <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>

  <script src="/js/oaworksKeys.js"></script>

  {# For org report pages only #}
  {% if org._source.name %}
  <script>
  const org = ("{{ org._source.name | urlencode }}"),
        orgSlug = ("{{ org._source.objectID | slug }}");
  </script>

  <script src="/js/axios.min.js"></script>
  {% endif %}

  {% block extra_head %}{% endblock %}
</head>
