<label for="js-search-box" class="sr-only">Search</label>
<div class="flex">
  <div class="relative flex items-stretch flex-grow focus-within:z-10">
    <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
      {% icon_small "search" %}
    </div>
    <input type="text" name="js-search-box" id="js-search-box" class="focus:ring-carnation-300 focus:border-carnation-500 block w-full py-3 pl-10 bg-transparent sm:text-sm border-0 border-b-2" placeholder="Find an organization by name, acronym, or ROR&hellip;" role="combobox" aria-controls="js-suggestions-list" aria-expanded="false">
    <ul id="js-suggestions-list" class="absolute z-10 top-12 w-full border border-b-0 max-h-60 overflow-auto bg-white text-base ring-1 ring-carnation-300 ring-opacity-5 focus:outline-none sm:text-sm" style="display: none" role="listbox"></ul>
  </div>
</div>