<form name="signup" method="POST" action="#" data-netlify="true" data-netlify-honeypot="bot-field" id="newsletter">
  <input type="hidden" name="form-name" value="signup" />
  <label for="signup-page" class="sr-only" hidden>Signed up from this page</label>
  <input type="hidden" name="signup-page" id="signup-page" value="{{ site.base_url }}/{{ org._source.url_slug }} [{{ org._source.name }}]"/>
  <label for="signup-email">Email</label>
  <div class="mt-1 mb-3 relative flex items-stretch flex-grow shadow-md focus-within:z-10">
      <div class="absolute inset-y-0 left-0 pl-2 flex items-center pointer-events-none">
        {% icon_small "mail" %}
      </div>
      <input type="email" name="signup-email" id="signup-email" class="focus:ring-carnation-300 focus:border-carnation-500 block w-full pl-10 py-3 sm:text-sm border-1" placeholder="you@example.com" required/>
      <button type="submit" class="-ml-px relative inline-flex items-center space-x-2 px-4 text-xs md:text-sm font-medium text-white bg-neutral-900 hover:bg-carnation-500 hover:text-neutral-900 hover:border-carnation-500 focus:outline-none focus:ring-1 focus:ring-carnation-300 focus:border-carnation-500 duration-500 border-0 whitespace-nowrap">
        Sign up
      </button>
    </div>
</form>
<div class="js-success-message" style="display: none;" aria-live="polite">
  <p id="newsletter-msg">Thanks for signing up! We will be in touch.</p>
</div>

<script>
  /* "Sign up" Netlify Form submission success message */
const form = document.querySelector('form[name="signup"]');
form.addEventListener('submit', e => {
  e.preventDefault();
  const formData = new FormData(form);
  fetch('/', {
    method: 'POST',
    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
    body: new URLSearchParams(formData).toString(),
  })
    .then(() => {
      form.style.display = 'none';
      document.querySelector('.js-success-message').style.display = 'block';
    })
    .catch(error => {
      console.error(error);
    });
});
</script>
