<tr>
  <td class="border-b border-neutral-500 sticky left-0 bg-neutral-700 p-2 whitespace-nowrap truncate"><span class="text-transparent">---</span></td>
  <td class="border-b border-neutral-500 sticky left-60 bg-neutral-700 p-2 whitespace-nowrap truncate"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
  <td class="border-b border-neutral-500 p-2 whitespace-nowrap truncate hover:bg-neutral-600"></td>
</tr>