<tr>
  <td class="p-2 whitespace-nowrap">10.1016/j.xpro.2023.102563</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">A protocol for measuring the sexual receptivity of female Drosophila</td>
  <td class="p-2 whitespace-nowrap">Elsevier BV</td>
  <td class="p-2 whitespace-nowrap">STAR Protocols</td>
  <td class="p-2 whitespace-nowrap">2666-1667</td>
  <td class="p-2 whitespace-nowrap">2023-12-01</td>
  <td class="p-2 whitespace-nowrap">2023</td>
  <td class="p-2 whitespace-nowrap">PMC10507193</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">hybrid</td>
  <td class="p-2 whitespace-nowrap">gold</td>
  <td class="p-2 whitespace-nowrap">cc-by-nc-nd</td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">publishedVersion</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">custom_keys__bmgf;is_new__bmgf;pmc__bmgf;preprints_oa_locations__bmgf</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
</tr>
<tr>
  <td class="p-2 whitespace-nowrap">10.1016/j.ebiom.2023.104777</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">Predictive models of long COVID</td>
  <td class="p-2 whitespace-nowrap">Elsevier BV</td>
  <td class="p-2 whitespace-nowrap">eBioMedicine</td>
  <td class="p-2 whitespace-nowrap">2352-3964</td>
  <td class="p-2 whitespace-nowrap">2023-10-01</td>
  <td class="p-2 whitespace-nowrap">2023</td>
  <td class="p-2 whitespace-nowrap">PMC10494314</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">closed</td>
  <td class="p-2 whitespace-nowrap">gold</td>
  <td class="p-2 whitespace-nowrap">cc-by</td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">publishedVersion</td>
  <td class="p-2 whitespace-nowrap">Medicine;Coronavirus disease 2019 (COVID-19);Logistic regression;Generalizability theory;Random forest;Internal medicine;Cohort;Diagnosis code;Incidence (geometry);Disease;Artificial intelligence;Statistics;Infectious disease (medical specialty);Population;Computer science;Environmental health;Physics;Mathematics;Optics</td>
  <td class="p-2 whitespace-nowrap">General Biochemistry, Genetics and Molecular Biology;General Medicine</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap">0</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">custom_keys__bmgf;is_compliant__bmgf;is_new__bmgf;pmc__bmgf;preprints_oa_locations__bmgf;publication_type__bmgf</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
</tr>
<tr>
  <td class="p-2 whitespace-nowrap">10.1016/j.eclinm.2023.102140</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">Immunogenicity and safety of SARS-CoV-2 recombinant protein nanoparticle vaccine GBP510 adjuvanted with AS03: interim results of a randomised, active-controlled, observer-blinded, phase 3 trial</td>
  <td class="p-2 whitespace-nowrap">Elsevier BV</td>
  <td class="p-2 whitespace-nowrap">eClinicalMedicine</td>
  <td class="p-2 whitespace-nowrap">2589-5370</td>
  <td class="p-2 whitespace-nowrap">2023-10-01</td>
  <td class="p-2 whitespace-nowrap">2023</td>
  <td class="p-2 whitespace-nowrap">PMC10498190</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">gold</td>
  <td class="p-2 whitespace-nowrap">cc-by-nc-nd</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">publishedVersion</td>
  <td class="p-2 whitespace-nowrap">Medicine;Immunogenicity;Cohort;Interim analysis;Vaccination;Internal medicine;Seroconversion;Randomized controlled trial;Immunology;Antibody</td>
  <td class="p-2 whitespace-nowrap">General Medicine</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap">0</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">custom_keys__bmgf;is_new__bmgf;pmc__bmgf;preprints_oa_locations__bmgf;publication_type__bmgf</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
</tr>
<tr>
  <td class="p-2 whitespace-nowrap">10.1016/s2214-109x(23)00383-2</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">Potential cost-effectiveness of community availability of tenofovir, lamivudine, and dolutegravir for HIV prevention and treatment in east, central, southern, and west Africa: a modelling analysis</td>
  <td class="p-2 whitespace-nowrap">Elsevier BV</td>
  <td class="p-2 whitespace-nowrap">The Lancet Global Health</td>
  <td class="p-2 whitespace-nowrap">2214-109X</td>
  <td class="p-2 whitespace-nowrap">2023-10-01</td>
  <td class="p-2 whitespace-nowrap">2023</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">closed</td>
  <td class="p-2 whitespace-nowrap">gold</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">publishedVersion</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">custom_keys__bmgf;is_new__bmgf;name_epmc__bmgf;preprints_oa_locations__bmgf</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
</tr>
<tr>
  <td class="p-2 whitespace-nowrap">10.1016/j.eclinm.2023.102151</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">Immune persistence of an inactivated poliovirus vaccine derived from the Sabin strain: a 10-year follow-up of a phase 3 study</td>
  <td class="p-2 whitespace-nowrap">Elsevier BV</td>
  <td class="p-2 whitespace-nowrap">eClinicalMedicine</td>
  <td class="p-2 whitespace-nowrap">2589-5370</td>
  <td class="p-2 whitespace-nowrap">2023-10-01</td>
  <td class="p-2 whitespace-nowrap">2023</td>
  <td class="p-2 whitespace-nowrap">PMC10514427</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">hybrid</td>
  <td class="p-2 whitespace-nowrap">gold</td>
  <td class="p-2 whitespace-nowrap">cc-by-nc-nd</td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">publishedVersion</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">custom_keys__bmgf;is_new__bmgf;pmc__bmgf;preprints_oa_locations__bmgf</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
</tr>
<tr>
  <td class="p-2 whitespace-nowrap">10.1186/s40249-023-01135-7</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">Assessing food security performance from the One Health concept: an evaluation tool based on the Global One Health Index</td>
  <td class="p-2 whitespace-nowrap">Springer Science and Business Media LLC</td>
  <td class="p-2 whitespace-nowrap">Infectious Diseases of Poverty</td>
  <td class="p-2 whitespace-nowrap">2049-9957</td>
  <td class="p-2 whitespace-nowrap">2023-09-22</td>
  <td class="p-2 whitespace-nowrap">2023</td>
  <td class="p-2 whitespace-nowrap">PMC10514978</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">gold</td>
  <td class="p-2 whitespace-nowrap">gold</td>
  <td class="p-2 whitespace-nowrap">cc-by</td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">publishedVersion</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">custom_keys__bmgf;is_compliant__bmgf;is_new__bmgf;name_epmc__bmgf;preprints_oa_locations__bmgf</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
</tr>
<tr>
  <td class="p-2 whitespace-nowrap">10.7554/elife.85023</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">Diverse evolutionary pathways challenge the use of collateral sensitivity as a strategy to suppress resistance</td>
  <td class="p-2 whitespace-nowrap">eLife Sciences Publications, Ltd</td>
  <td class="p-2 whitespace-nowrap">eLife</td>
  <td class="p-2 whitespace-nowrap">2050-084X</td>
  <td class="p-2 whitespace-nowrap">2023-09-22</td>
  <td class="p-2 whitespace-nowrap">2023</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">gold</td>
  <td class="p-2 whitespace-nowrap">gold</td>
  <td class="p-2 whitespace-nowrap">cc-by</td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">publishedVersion</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">custom_keys__bmgf;is_compliant__bmgf;is_new__bmgf;name_epmc__bmgf;preprints_oa_locations__bmgf</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
</tr>
<tr>
  <td class="p-2 whitespace-nowrap">10.1111/nph.19273</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">Parallel tuning of semi‐dwarfism via differential splicing of <i>Brachytic1</i> in commercial maize and smallholder sorghum</td>
  <td class="p-2 whitespace-nowrap">Wiley</td>
  <td class="p-2 whitespace-nowrap">New Phytologist</td>
  <td class="p-2 whitespace-nowrap">0028-646X;1469-8137</td>
  <td class="p-2 whitespace-nowrap">2023-09-22</td>
  <td class="p-2 whitespace-nowrap">2023</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">bronze</td>
  <td class="p-2 whitespace-nowrap">hybrid</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">acceptedVersion</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">custom_keys__bmgf;is_new__bmgf;name_epmc__bmgf;preprints_oa_locations__bmgf</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
</tr>
<tr>
  <td class="p-2 whitespace-nowrap">10.3389/fpubh.2023.1147180</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">Prevalence and risk factors associated with the occurrence of Campylobacter sp. in children aged 6–24 months in peri-urban Nairobi, Kenya</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">2023-09-22</td>
  <td class="p-2 whitespace-nowrap">2023</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">University of Nairobi;International Livestock Research Institute;University of Copenhagen;London School of Hygiene & Tropical Medicine</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">closed</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">Campylobacter;Hygiene;Campylobacter jejuni;Diarrhea;Environmental health;Sanitation;Medicine;Malnutrition;Diarrheal disease;Veterinary medicine;Biology;Internal medicine;Bacteria;Genetics;Pathology</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">0</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">2023-09-08</td>
  <td class="p-2 whitespace-nowrap">2023-1008788-1</td>
  <td class="p-2 whitespace-nowrap">3230</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">custom_keys__bmgf;finance_v3__bmgf;is_new__bmgf;preprints_oa_locations__bmgf;publication_type__bmgf</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
</tr>
<tr>
  <td class="p-2 whitespace-nowrap">10.1007/s41109-023-00595-y</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">Overcoming vaccine hesitancy by multiplex social network targeting: an analysis of targeting algorithms and implications</td>
  <td class="p-2 whitespace-nowrap">Springer Science and Business Media LLC</td>
  <td class="p-2 whitespace-nowrap">Applied Network Science</td>
  <td class="p-2 whitespace-nowrap">2364-8228</td>
  <td class="p-2 whitespace-nowrap">2023-09-21</td>
  <td class="p-2 whitespace-nowrap">2023</td>
  <td class="p-2 whitespace-nowrap">PMC10514145</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">gold</td>
  <td class="p-2 whitespace-nowrap">gold</td>
  <td class="p-2 whitespace-nowrap">cc-by</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">cc-by</td>
  <td class="p-2 whitespace-nowrap">submittedVersion</td>
  <td class="p-2 whitespace-nowrap">https://www.researchsquare.com/article/rs-2608863/latest.pdf</td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap">publishedVersion</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">FALSE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap">custom_keys__bmgf;is_compliant__bmgf;is_new__bmgf;pmc__bmgf;preprints_oa_locations__bmgf</td>
  <td class="p-2 whitespace-nowrap">TRUE</td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
  <td class="p-2 whitespace-nowrap"></td>
</tr>