<th scope="col" class="border-b border-neutral-500 sticky left-0 bg-neutral-700 p-2 w-60 truncate"><span class="text-transparent">---</span></th>
<th scope="col" class="border-b border-neutral-500 sticky left-60 bg-neutral-700 p-2 w-32 truncate"></th>
<th scope="col" class="border-b border-neutral-500 p-2 w-32 truncate"></th>
<th scope="col" class="border-b border-neutral-500 p-2 w-32 truncate"></th>
<th scope="col" class="border-b border-neutral-500 p-2 w-32 truncate"></th>
<th scope="col" class="border-b border-neutral-500 p-2 w-32 truncate"></th>
<th scope="col" class="border-b border-neutral-500 p-2 w-32 truncate"></th>
<th scope="col" class="border-b border-neutral-500 p-2 w-32 truncate"></th>
<th scope="col" class="border-b border-neutral-500 p-2 w-32 truncate"></th>
<th scope="col" class="border-b border-neutral-500 p-2 w-32 truncate"></th>
<th scope="col" class="border-b border-neutral-500 p-2 w-32 truncate"></th>
<th scope="col" class="border-b border-neutral-500 p-2 w-32 truncate"></th>
<th scope="col" class="border-b border-neutral-500 p-2 w-32 truncate"></th>
<th scope="col" class="border-b border-neutral-500 p-2 w-32 truncate"></th>
<th scope="col" class="border-b border-neutral-500 p-2 w-32 truncate"></th>