<tr>
  <th scope="col" class="sticky left-0 bg-neutral-700 p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">DOI</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">is_compliant__bmgf</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">grantid__bmgf</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">title</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">publisher</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">journal</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">issn</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">published_date</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">published_year</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">PMCID</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">authorships.institutions.display_name</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">funder.name</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">is_oa</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">oa_status</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">journal_oa_type</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">publisher_license_best</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">has_repository_copy</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">repository_license_best</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">repository_version</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">repository_url</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">is_approved_repository__bmgf</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">is_preprint</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">can_archive</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">version</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">concepts.display_name</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">subject</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">program__bmgf</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">has_data_availability_statement</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">cited_by_count</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">author_email_name</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">email</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">invoice_date</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">invoice_number</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">apc_cost</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">oasupport.status</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">sheets</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">is_new__bmgf</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.data.has_shared_data</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.data.has_open_data</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.data.doi</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.data.url</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.data.accession</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.data.location</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.data.licence</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.data.evidence</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.code.has_made_code</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.code.has_shared_code</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.code.has_open_code</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.code.doi</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.code.url</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.code.accession</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.code.location</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.code.licence</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">dev.code.evidence</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">is_original_research</th>
  <th scope="col" class="p-2 text-left text-xs font-medium uppercase tracking-wider w-60 truncate">data_availability_statement_category</th>
</tr>